//valik
=ttu
	text-transform: uppercase
.brand
	+column-count(4)
	+r(1024)
		+column-count(1)
	&-wrap
		width: 100%
		max-width: 980px
		margin: 0 auto
		font-size: 0
		padding: 90px 0 
	li
		padding: 0 0 20px 0 
	&__title
		+ttu
		+f500
		color: #000
		font-size: 15.99px
		line-height: 1.8
		float: left
		width: 45px
		padding-top: 4px
	&__list
		overflow: hidden
		li
			display: block
			padding: 0
			a
				+f100
				color: #000
				+tr_color
				font-size: 16px
				line-height: 2.2
				&:hover
					color: #1bb4ed 
					sup
						+opacity(1)
				sup
					font-size: 11px
					position: relative
					top: -9px
					margin-left: 7px
					+opacity(0)
					+tr_op


.catalog
	padding: 75px 120px 40px
	border-top: 1px solid #e9e9e9 
	+clr
	&:first-child
		border-top: none
	&-wrap
		padding-bottom: 70px
	&__top
		padding: 0 35px
	h2.title
		margin-bottom: 30px
		display: inline-block
		i
			+opacity(0)
			+tr_op
			+f300i
			font-size: 14px
			color: #010101
			width: 18px
			height: 18px
			line-height: 18px
			border: 1px solid #010101
			+border-radius(50%)
			display: inline-block
			text-align: center
			margin-left: 20px
			cursor: pointer
		&:hover
			i
				+opacity(0.3) 
	.item
		margin-bottom: 25px

.item
	width: 33.3%
	max-width: 345px
	text-align: center
	float: left
	a
		display: inline-block
		+opacity(0.8)
		+tr_op
		&:hover
			+opacity(1)
			p
				color: #2fbaee 
				sup
					+opacity(1)
	&__img
		height: 100px
		+vertical
		width: 270px
		margin: 0 auto
		text-align: left
		img
			display: inline-block
			vertical-align: bottom
			max-width: 100%
	&__info
		+opacity(0.8)
		padding: 15px 10px
		text-align: left
		width: 270px
		margin: 0 auto
		p, .item__small, .item__price
			+f100
			line-height: 1.8
			letter-spacing: 0.02em  
		p, .item__price
			font-size: 16px
			color: #000000
		p
			+tr_color
			margin-bottom: 8px
			sup
				font-size: 11px
				position: relative
				top: -9px
				+opacity(0)
				+tr_op
	&__small
		display: block
		font-size: 12px
		color: #B5B5B5 
		margin-bottom: 5px
	&__price
		display: block
		
.search
	padding: 87px 20px 70px
	.input
		height: 40px
		padding: 0 46px
		color: #1bb4ed
		margin-bottom: 9px
	&__label
		max-width: 592px
		margin: 0 auto 36px
		&.js-active
			label
				+opacity(1)
		label
			position: relative
			display: block
			+opacity(0.8)
	&__icon
		+svg(glass-act, 18, 18)
		position: absolute
		top: 12px
		left: 20px
	&__delete
		+s(close)
		position: absolute
		top: 13px
		right: 15px
		display: block
		&.js-not
			display: none
	&__text
		width: 100%
		max-width: 530px
		margin: 0 auto
		+f300
		font-size: 14px
		line-height: 1.75
		color: #4f4f4f
		text-align: center
		a
			color: #1bb4ed
			+opacity(1)
			+tr_op
			&:hover
				+opacity(0.8)
	ul
		font-size: 0
	li
		display: inline-block
.pills
	color: #000
	+f100
	font-size: 13px
	letter-spacing: 0.02em
	line-height: 16px
	padding: 0 10px
	+border-radius(3px)
	display: inline-block
	+tr_color
	margin-right: 6px
	&:hover
		color: #2db9ee 
	&.is-active
		color: #fff 
		background: #2db9ee 

.post
	padding: 40px 7px 22px 17px
	border-top: 1px solid #e9e9e9  
	&-wrap
		padding: 55px 0 10px 0 
	&:first-child
		border-top: none
	&__title
		font-size: 16px
		color: #000 
		line-height: 24px
		letter-spacing: 0.02em 
		+f300
		display: block
		margin-bottom: 12px
		span
			+f500
	p
		+f100
		font-size: 14px
		line-height: 24px
		color: #000
		margin-bottom: 13px
		span
			+f500
	&__small
		+f300
		color: #b5b5b5
		font-size: 12px
		line-height: 24px 
		+opacity(0.8)
		display: inline-block
		
.box
	width: 25%
	display: inline-block
	vertical-align: top
	position: relative
	&:before, &:after
		content: "" 
		position: absolute
		top: 0
		width: 1px
		height: 1000px
		background: #e9e9e9
	&:before
		left: 0
	&:after
		right: -1px
	&-wrap
		font-size: 0
		border: 1px solid #e9e9e9
		margin-top: -1px
		border-left: none
		overflow: hidden 
	a
		+opacity(0.8)
		+tr_op
		display: block
		padding: 30px 25px 17px 30px
		&:hover
			+opacity(1)
			p
				color: #1bb4ed 
			.box__small
				+opacity(0.8)
	&__img
		height: 184px
		+vertical
		img
			display: inline-block
			vertical-align: middle
	&__info
		p
			+f300
			line-height: 1.65
			font-size: 14.06px
			letter-spacing: 0.02em 
			color: #000 
			margin-bottom: 7px
			+tr_color
			span
				font-size: 16px
				span
					+f500
	&__small
		line-height: 2
		font-size: 12px
		letter-spacing: 0.02em 
		+f100
		color: #b5b5b5
		margin-bottom: 5px
	&__price
		+f100
		line-height: 1.5
		letter-spacing: 0.02em 
		color: #000
		font-size: 16px
	&__bottom
		+clr
		.box__small
			color: #a9d16a
			float: left
		.box__price
			float: right

		