.article_smallfont
	font-size: 14px
	p
		font-size: 14px
	img
		margin-bottom: 20px
		max-width: 100%
		&[align="left"]
			margin-right: 50px
			+r(980)
				float: none
				margin: 0 0 20px
		&[align="right"]
			margin-left: 50px
			+r(980)
				float: none
				margin: 0 0 20px
.article_no-padding
	padding-top: 0
	.article__in
		padding: 0
		h1,h2, p
			max-width: 100%
.article__in	
	margin: 0 auto 
	padding: 0 35px 
	max-width: 975px
	h1
		font-size: 40px
		+f100
		color: $blue
		font-weight: normal 
	h1,h2, p
		padding: 0
		max-width: 100%
	h2
		margin: 0 0 25px
	.row-item
		p
			margin-bottom: 0
	.tabs-content
		ul
			//display: inline-block
			//width: 50%
			//vertical-align: top
			padding: 0 0 0 25px
			+column-count(2)
			+r(980)
				+column-count(1)
			+r(480)
				padding: 0
			li
				+f100
				font-size: 14px
				margin-bottom: 15px
				letter-spacing: 0.02em 
				line-height: 24px
				position: relative
				padding: 0 0 0 30px
				position: relative
				&:before
					position: absolute
					top: 9px
					left: 0
					content: "" 
					width: 6px
					height: 6px
					background-color: #2DB9EE
					+border-radius(50%)
		.tabs-link,
		.tabs
			padding: 0
			+column-count(1)
			li
				padding: 0
				&:before
					display: none
		.slick-dots
			+column-count(1)
			li
				padding: 0
				&:before
					display: none

.tabs
	font-size: 0
	display: inline-block
	min-width: 100%
	border-bottom: 1px solid #e9e9e9 
	margin: 0 0 30px 
	li
		display: inline-block
		vertical-align: middle
		padding: 0
		&.is-active
			position: relative
			pointer-events: none
			&:after
				content: ""
				position: absolute
				height: 2px
				background: #fff 
				left: 1px
				right: 1px
				bottom: -2px
			a
				border-color: #e9e9e9 
				padding: 0 20px 

	a
		display: block
		padding: 0 10px
		height: 43px
		line-height: 43px
		color: #525252  
		font-size: 16px
		+f300
		border: 1px solid transparent
		border-bottom: none
		+tr_c
		&:hover
			color: $blue 
		em
			font-style: normal
			+f100
			font-size: 14px
.tabs-link
	font-size: 0
	margin: 0 0 35px 
	+r(980)
		display: none
	li
		display: inline-block
		vertical-align: middle
		margin-right: 35px
		&.is-active			
			a
				color: $blue 
				border-color: $blue
	a
		font-size: 14px
		+f300
		color: #525252  
		border-bottom: 1px solid transparent
		+tr_c
		&:hover
			color: $blue
	
.tabs-wrap
	white-space: nowrap
	position: relative
	overflow: hidden
	height: 44px
	margin-bottom: 30px
	+r(1024)
		display: none
	&.is-active
		.tabs-wrap__next
			display: none
		.tabs-wrap__prev
			display: block
	&__next,
	&__prev
		position: absolute
		z-index: 2
		top: 0
		height: 43px
		width: 40px		
		&:before
			content: ""
			position: absolute
			right: 0
			top: 11px
			+opacity(.5)
			+tr_o
			&:hover
				opacity: 1
	&__next
		right: 0
		background: none
		+gh(rgba(#fff,0),rgba(#fff,1))
		&:before
			right: 0
			+svg(arr-next-big,7,20)
	&__prev
		left: 0
		background: none
		display: none
		+gh(rgba(#fff,1),rgba(#fff,0))
		&:before
			left: 0
			+svg(arr-prev-big,7,20)
	.tabs
		position: absolute
		left: 0
		top: 0
		+tr(left .3s)
.row-item_mod
	border-top: 1px solid #e9e9e9
	border-bottom: 0
	.row-item__center
		padding-right: 40px
		
.row-item-action
	border-top: 1px solid #e9e9e9
	padding: 45px 0 80px 220px
	+clr
	+r(980)
		padding-left: 0
		text-align: center
	.btn-action
		margin-right: 10px
	.btn
		float: right
		+r(980)
			margin: 20px 0 0
			float: none
		
.tabs-list
	position: relative
	z-index: 2
	display: none
	margin-bottom: 30px
	+r(1024)
		display: block
	&__text
		padding-right: 35px
		border-bottom: 1px solid #e9e9e9 
		height: 44px
		line-height: 44px
		white-space: nowrap
		overflow: hidden
		color: #000
		cursor: pointer
		font-size: 16px
		+f300 
		text-overflow: ellipsis
		&:after
			content: ""
			position: absolute
			right: 11px
			bottom: 13px
			+s(arr-b)
	.tabs
		position: absolute
		margin-top: 1px
		top: 100%
		left: 0
		right: 0
		border: 1px solid #e9e9e9
		background: #fff 
		display: none
		li
			display: block
			
		a
			padding: 0 10px !important 
			border: 0 !important

.main
	margin: 0 auto
	position: relative
	padding: 55px 50px 
	background: #fff
	max-width: 1080px 
	+clr
.product-wrap
	+clr
	+r(768)
		display: flex
		flex-direction: column
.carousel
	float: left
	position: relative
	z-index: 2
	width: 49%
	+r(980)
		width: 100%
		float: none
		margin-bottom: 30px
	+r(768)
		order: 2
	&__main
		margin-bottom: 20px
		img
			width: 100%
	&__preview
		+r(768)
			display: none
		.slick-slide
			margin-right: 11px
			cursor: pointer
			&:hover
				img
					+opacity(1)
			&.is-active
				&:after
					display: block
				img
					+opacity(1)
			&:after
				content: ""
				position: absolute
				display: none
				z-index: 2
				top: 0
				right: 0
				bottom: 0
				left: 0
				border: 2px solid $blue 
			img
				+opacity(.5)
				+tr_o
		.slick-prev
			left: -28px
			&:before
				+opacity(.5)
				+s(prev)
			&:hover
				&:before
					+opacity(1)
		.slick-next
			right: -18px
			&:before
				+opacity(.5)
				+s(next)
			&:hover
				&:before
					+opacity(1)
	+ .product
		position: relative
		top: -15px
		+r(768)
			top: 0
.product
	padding-left: 60px
	overflow: hidden
	+r(980)
		padding-left: 0
	+r(768)
		order: 1
		margin-bottom: 90px 
		text-align: center
	&__head
		border-bottom: 1px solid #e9e9e9 
		padding-bottom: 25px
		+r(768)
			text-align: left
	&__title
		font-size: 30px
		+f100
		+r(980)
			font-size: 24px
		+r(768)
			text-align: left
	&__info
		font-size: 14px
		+f500
		+r(768)
			text-align: left
	&__meta
		color: #b5b5b5
		font-size: 12px
		+f500
		+r(768)
			text-align: left
	.is-green
		color: #a9d16a
	&__main
		margin: 0 0 14px 
		border-bottom: 1px solid #e9e9e9 
		padding: 20px 0 
		+f100
		font-size: 14px
		+r(768)
			text-align: left
		p
			margin-bottom: 3px
	&__price
		font-size: 24px	
	.btn
		margin-top: 20px
	.compare,
	.sticker
		display: inline-block
		vertical-align: middle
.link-more
	color: #000 
	span
		text-decoration: underline
		color: $blue
	&:hover
		span
			text-decoration: none

.color
	font-size: 14px
	+f100
	&__title
		color: #000
	&__circle
		display: inline-block
		margin: 0 9px
		width: 12px
		height: 12px
		border-radius: 50% 
		&.is-blue
			background: #1a2a49 
	&__label
		font-size: 12px
		+f100

.text-cols
	+column-count(2)
	+column-gap(50px)
	+r(980)
		+column-count(1)

.tabs-cat
	margin-bottom: 30px
	+r(980)
		margin-bottom: 22px
		padding-bottom: 30px
		border-bottom: 1px solid #e8e8e8 
	li
		display: inline-block
		vertical-align: middle
		margin-bottom: 3px
		&.is-active
			a
				border-color: #E9E9E9
	a
		display: block
		padding:  0 18px
		height: 35px
		line-height: 33px
		font-size: 16px
		color: #000
		+tr_c 
		border: 1px solid transparent
		border-radius: 17px
		+r(980)
			height: 26px
			line-height: 24px
			font-size: 14px
		&:hover
			color: $blue 
			
.ajax-content
	margin-bottom: 30px
	
.char
	float: left
	margin-bottom: 40px
	width: 50%
	+r(980)
		float: none
		width: 100%
	&__item
		display: table
		margin-bottom: 20px
		table-layout: fixed
	&__img
		display: table-cell
		vertical-align: middle
		width: 41px
		text-align: center
		img
			vertical-align: middle
			max-width: 100%
	&__info
		display: table-cell
		padding-left: 30px
		vertical-align: middle
		font-size: 14px
		color: #000
		+f300
		span
			display: block
			color: $blue 

.btn-link_small
	min-width: 100px
.table-info-wrap
	margin: 70px 0 0 -3%
	font-size: 0
	display: none
.table-info
	display: inline-block
	vertical-align: top
	margin-bottom: 30px
	padding-left: 3%
	width: 47%
	font-size: 13px
	color: #000
	+f300 
	+r(768)
		width: 100%	
		display: block
		padding-left: 0
	table
		table-layout: fixed
	th
		padding: 18px 0 
		text-align: left
		font-weight: normal
		font-size: 18px
		+f500
	td
		padding: 8px 20px 
		width: 50%
		border-bottom: 1px solid #ececec
		border-top: 1px solid #ececec
		&:last-child
			text-align: right
	tbody
		tr
			&:nth-child(2n)
				background: #f7f7f7 
				
.select_tab
	margin-bottom: 45px
	display: none
	+r(980)
		display: block
	.ui-multiselect
		height: 30px
		border-color: $blue 
		color: $blue
		&:hover
			color: $blue_h
			border-color: $blue_h 
	.ui-icon
		+svg(select-act,5,14)

.compare-head
	position: relative
	padding-top: 65px
	&.is-fixed
		height: 184px
		+r(980)
			height: auto
		.compare-head__in
			position: fixed
			top: 0
			left: 0
			z-index: 10
			max-width: 100%
			right: 0
			+r(1024)
				max-width: 100%
				padding: 10px
			+r(980)
				position: static
	&__in
		max-width: 1050px
		padding: 10px 0 35px
		position: relative
		margin: 0 auto
		font-size: 0
		text-align: center
		background: #fff 
		+r(1024)
			max-width: 100%
			padding: 10px
		+r(980)
			position: static
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: -10px
			height: 10px
			+g(rgba(#000,.05), rgba(#000,0)) 
.car
	position: relative
	display: inline-block
	vertical-align: top
	width: 160px
	padding-left: 25px
	font-size: 14px
	text-align: left
	.dot-color
		position: absolute
		left: 0
		top: 0
	&__img
		height: 70px
		line-height: 70px
		img
			vertical-align: middle
			max-height: 100%
	&__model
		+f300
		strong
			font-weight: normal
			+f500
	&__detail
		+f100
	&__info
		color: #000
		+tr_c
		&:hover 
			color: $blue
$violet: #b48ead
$green: #4cd68a
$yellow: #ffd278
$red: #ef8f67
$blue: #6b7a8f			
.dot-color
	display: inline-block
	width: 6px
	height: 6px
	border-radius: 50% 
	&.is-violet
		background: $violet
	&.is-green
		background: $green
	&.is-yellow
		background: $yellow
	&.is-red
		background: $red
	&.is-blue
		background: $blue

.comparison
	&__section
		text-align: center
		padding: 70px 0 
		position: relative
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 50%
			margin-left: -425px
			width: 850px 
			height: 1px
			background: #ededed
	&__title
		margin-bottom: 50px
		font-size: 30px
		+f100
		color: #cacaca 
.compare-table-wrap
	overflow-x: auto
.compare-table
	width: 1000px
	margin: 0 auto 50px
	font-size: 13px
	table-layout: fixed
	+r(1024)
		margin-bottom: 0
	td,th
		text-align: right
		&:first-child
			text-align: left
			width: 300px
			padding-right: 5px
	th
		padding: 9px 30px 9px 22px
		font-weight: normal
		font-size: 18px
		+f500
	td
		padding: 9px 30px 9px 22px
		border-top: 1px solid #ececec 
		border-bottom: 1px solid #ececec 
	tbody
		tr
			&:nth-child(2n)
				td
					background: #f7f7f7 
.has-animation
	circle,
	polygon,
	line
		+animation(dash 1s linear forwards) 
	.is-violet
		path
			fill: $violet
	.is-green
		path
			fill: $green
	.is-yellow
		path
			fill: $yellow
	.is-red
		path
			fill: $red
	.is-blue
		path
			fill: $blue
.circle
	position: relative
	display: inline-block
	margin-left: 25px
	&:first-child
		margin-left: 0
	svg
		&.is-violet
			circle
				stroke: $violet
		&.is-green
			circle
				stroke: $green
		&.is-yellow
			circle
				stroke: $yellow
		&.is-red
			circle
				stroke: $red
		&.is-blue
			circle
				stroke: $blue
	circle
		fill: #fff
		stroke-width: 2px
		stroke-dasharray: 1000
		stroke-dashoffset: 1000
		//+animation(dash 3s linear forwards) 
	&__info
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		+vertical
	&__in
		vertical-align: middle
		display: inline-block
		+f300
		font-size: 14px
		text-align: left
	&__title
		color: #26b8ef
		+f100
		line-height: 1
		font-size: 36px 
		sub
			color: #000
			font-size: 14px 
	.labels
		position: absolute
		top: 0
		left: 100%
		margin-left: 22px
		white-space: nowrap
.circle_big
	position: relative
	width: 250px
	height: 250px
	.circle__in
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 0
		text-align: center
		line-height: 250px
		svg
			display: inline-block
			vertical-align: middle
.labels
	&_three-cols
		margin: 40px auto 0
		max-width: 600px 
		+column-count(3)
	li
		margin-bottom: 17px
	.dot-color
		margin-right: 18px
		vertical-align: middle
.triangle
	display: inline-block
	margin-left: -110px
	vertical-align: bottom
	&:first-child
		margin-left: 0
	svg
		&.is-violet
			polygon
				stroke: $violet
		&.is-green
			polygon
				stroke: $green
		&.is-yellow
			polygon
				stroke: $yellow
		&.is-red
			polygon
				stroke: $red
		&.is-blue
			polygon
				stroke: $blue
	polygon
		fill: #fff
		stroke-width: 2px
		stroke-dasharray: 1000
		stroke-dashoffset: 1000
		//+animation(dash 3s linear forwards) 
.line
	margin: 0 auto 
	width: 546px
	&_horizontal	
		display: inline-block
		vertical-align: bottom
		margin-right: 11%
		width: auto
		&:last-child
			margin-right: 0
	svg
		display: block
		&.is-violet
			line
				stroke: $violet
		&.is-green
			line
				stroke: $green
		&.is-yellow
			line
				stroke: $yellow
		&.is-red
			line
				stroke: $red
		&.is-blue
			line
				stroke: $blue
	line
		stroke-width: 2px
		stroke-dasharray: 1000
		stroke-dashoffset: 1000
		//+animation(dash 3s linear forwards) 
	&__in
		position: relative
		font-size: 0
		display: inline-block
		vertical-align: bottom
		width: 14px
		text-align: center
		svg
			display: inline-block
	&__label
		position: absolute
		top: -26px
		left: 0
		right: 0
		font-size: 12px
		+f300 
		color: #909090 
	&__title	
		margin: 7px 0 0 
		font-size: 14px
		color: #000 			  	
+keyframes(dash)
	0
		stroke-dashoffset: 1000
	100%
		stroke-dashoffset: 0
+keyframes(fill)
	0
		fill: #fff
	100%
		fill: inherit
.ruler
	border-top: 1px solid #f2f2f2 
	display: table
	width: 100%
	table-layout: fixed
	text-align: left
	li
		display: table-cell
		position: relative
		vertical-align: middle
		padding: 4px 0 0 
		font-size: 12px
		+f300
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 1px
			height: 5px
			background: #f2f2f2 
		&:nth-child(10), 
		&:nth-child(11), 
		&:nth-child(12), 
		&:nth-child(13), 
		&:nth-child(14), 
		&:nth-child(15), 
		&:nth-child(16), 
		&:nth-child(17)
			span
				left: -6px
		&:last-child
			&:after
				content: none
				position: absolute
				top: 0
				left: 100%
				width: 100%
				height: 2px
				background: #f2f2f2 	
	span
		display: inline-block
		position: relative
		left: -3px
		
.trans
	display: inline-block
	width: 13%
	vertical-align: top
	&.is-violet
		.trans__icon
			i
				background: $violet 
	&.is-green
		.trans__icon
			i
				background: $green
	&.is-yellow
		.trans__icon
			i
				background: $yellow 
	&.is-red
		.trans__icon
			i
				background: $red 
	&.is-blue
		.trans__icon
			i
				background: $blue 
	&__icon
		display: block
		margin-bottom: 20px
		i
			display: inline-block
			vertical-align: bottom
			margin-left: 2px
			width: 2px
			height: 25px
			&.is-medium
				height: 23px
			&.is-small
				height: 21px
			&:first-child
				margin: 0
	&__title
		font-size: 36px
		color: #1bb4ed
		line-height: 1.1
		+f100
		sub
			font-size: 14px
			+f100
			color: #696969 
	&__info
		+f300
		font-size: 14px

.drive-type
	display: inline-block
	vertical-align: top
	width: 13%
	span
		display: block
		margin: 4px 0
		font-size: 14px
		+f300
	path
		fill: #fff
		+tr(fill 1s)
.place
	display: inline-block
	vertical-align: top
	width: 13%
	path
		fill: #fff
		+tr(fill 1s)
	// &.is-violet
	// 	path
	// 		fill: $violet
	// &.is-green
	// 	path
	// 		fill: $green
	// &.is-yellow
	// 	path
	// 		fill: $yellow
	// &.is-red
	// 	path
	// 		fill: $red
	// &.is-blue
	// 	path
	// 		fill: $blue
	img
		margin-left: 6px
		&:first-child
			margin-left: 0
	&__title
		margin: 10px 0 
		font-size: 14px
		+f100
		line-height: 1.2
		span
			display: block
			color: #1bb4ed			
			font-size: 36px
.laggage
	display: inline-block
	vertical-align: top
	width: 13%
	path
		fill: #fff
		+tr(fill 1s)
	// &.is-violet
	// 	path
	// 		fill: $violet
	// &.is-green
	// 	path
	// 		fill: $green
	// &.is-yellow
	// 	path
	// 		fill: $yellow
	// &.is-red
	// 	path
	// 		fill: $red
	// &.is-blue
	// 	path
	// 		fill: $blue
	img
		margin-left: 6px
		&:first-child
			margin-left: 0
	&__title
		margin: 10px 0 
		color: #1bb4ed			
		font-size: 36px
		+f100
		line-height: 1.2
		sub
			color: #bdbdbd 
			font-size: 14px