// default layout

//feedback
.feedback
	padding: 76px 0 54px
	font-size: 0
	.btn
		min-width: 176px
	.address__title,
	.delivery__title,
	.phones__title
		text-transform: uppercase
		+f500

//feedback .questions
.feedback, .questions
	.address__title,
	.delivery__title,
	.phones__title,
	.questions__title
		margin-bottom: 20px
		font-size: 18px
		line-height: 1
		font-weight: normal

// address, delivery, phones
.address, .delivery, .phones
	padding-bottom: 16px
	margin-left: 70px
	width: 212px
	font-size: 14px
	vertical-align: top
	display: inline-block
	+f100
	&:first-child
		margin-left: 0

//delivery
.delivery
	.delivery__link
		color: $blue
		+opacity(0.8)
		&:hover
			+opacity(1)

//map
.map
	height: 560px
	width: 100%
	.gmnoprint, .gm-style-cc, .gm-style > div + div > a
		display: none !important

//questions
.questions
	font-size: 18px
	padding: 55px 0 124px
	.questions__title
		font-size: 24px
		+f300
	.accordion__body
		padding-bottom: 120px
		line-height: 1.75
	.questions__wrap
		padding: 59px 0 0

//accordion
.accordion
	font-size: 14px
	+f100
	&.is-active
		.accordion__title
			&:before
				+rotate(180)
	.accordion__title
		position: relative
		padding-right: 20px
		margin-bottom: 31px
		color: $blue
		font-size: 18px
		cursor: pointer
		display: inline-block
		&:before
			position: absolute
			content: ''
			top: 13px
			right: 0
			+arr(8, 5, $blue, b)
		&:after
			position: absolute
			content: ''
			bottom: -3px
			left: 0
			right: 20px
			border-bottom: 1px dotted $blue
	.accordion__body
		margin: 0 auto
		width: 740px
	.accordion__body
		display: none