//valik
//brands
.brand
	+column-count(4)
	+r(980)
		margin: 0 auto
		+column-count(3)
	+r(768)
		+column-count(2)
	+r(480)
		+column-count(1)
	&-wrap
		margin: 0 auto
		font-size: 0
		padding: 90px 0 
		+r(1400)
			padding: 90px 100px
		+r(980)
			padding: 70px 70px
		+r(480)
			padding: 50px 75px
	li
		padding: 0 0 20px 0 
	&__title
		text-transform: uppercase
		+f500
		color: #000
		font-size: 15.99px
		line-height: 1.8
		float: left
		width: 45px
		padding-top: 4px
	&__list
		overflow: hidden
		li
			display: block
			padding: 0
			a
				+f100
				color: #000
				+tr_color
				font-size: 16px
				line-height: 2.2
				&:hover
					color: #1bb4ed 
					sup
						+opacity(1)
				sup
					font-size: 11px
					position: relative
					top: -9px
					margin-left: 7px
					+opacity(0)
					+tr_op
					will-change: opacity

//catalog
.catalog
	padding: 75px 0px 40px
	border-top: 1px solid #e9e9e9  
	+clr
	+r(768)
		padding: 40px 0 20px 
	&:first-child
		border-top: none
	&-wrap
		padding-bottom: 70px
		+r(1400)
			padding: 0 50px 50px 50px
		+r(980)
			padding: 0 20px 50px 20px 
		+r(768)
			padding: 0 0 10px 0
	&__top
		padding: 0 35px
	h2.title
		margin-bottom: 30px
		display: inline-block
		font-size: 24px
		+f100
		font-weight: normal
		letter-spacing: 0.02em 
		color: #010101 
		i
			+opacity(0)
			+tr_op
			will-change: opacity
			+f300i
			font-size: 14px
			color: #010101
			width: 18px
			height: 18px
			line-height: 18px
			border: 1px solid #010101
			+border-radius(50%)
			display: inline-block
			text-align: center
			margin-left: 20px
			cursor: pointer
		&:hover
			i
				+opacity(0.3) 
	.item
		margin-bottom: 25px
		+r(980)
			width: 50%
		+r(768)
			width: 230px
			margin: 0 auto 15px
			float: none
//item - catalog
.item
	width: 33.3%
	text-align: center
	float: left
	a
		display: inline-block
		+opacity(0.8)
		+tr_op
		will-change: opacity
		&:hover
			+opacity(1)
			p
				color: #2fbaee 
				sup
					+opacity(1)
	&__img
		height: 100px
		+vertical
		max-width: 270px
		margin: 0 auto
		text-align: left
		img
			display: inline-block
			vertical-align: bottom
			max-width: 100%
	&__info
		+opacity(0.8)
		will-change: opacity
		padding: 15px 10px
		text-align: left
		max-width: 270px
		margin: 0 auto
		p, .item__small, .item__price
			+f100
			line-height: 1.8
			letter-spacing: 0.02em  
		p, .item__price
			font-size: 16px
			color: #000000
		p
			+tr_color
			margin-bottom: 8px
			sup
				font-size: 11px
				position: relative
				top: -9px
				+opacity(0)
				+tr_op
				will-change: opacity
	&__small
		display: block
		font-size: 12px
		color: #B5B5B5 
		margin-bottom: 5px
	&__price
		display: block
//poisk		
.search
	padding: 87px 40px 70px
	+r(768)
		padding: 60px 40px 60px 
	+r(480)
		padding: 40px 20px 30px 
	&__keyword
		height: 40px
		padding: 0 46px
		color: #1bb4ed
		margin-bottom: 9px
	&__label
		max-width: 592px
		margin: 0 auto 36px
		&.js-active
			div
				+opacity(1)
		div
			position: relative
			display: block
			+opacity(0.8)
			will-change: opacity
		&_mod
			.input
				height: 70px
				padding: 0 70px 
				font-size: 24px
			.search__icon
				+svg(glass-act, 25, 25)
				margin-top: -13px
			.search__delete
				+s(close-big)
				margin-top: -12px
				right: 23px
	&__icon
		+svg(glass-act, 18, 18)
		position: absolute
		top: 50%
		margin-top: -9px
		left: 20px
	&__delete
		+s(close)
		position: absolute
		top: 50%
		margin-top: -7px
		right: 15px
		+opacity(0.3)
		+tr_op
		will-change: opacity
		&.js-not
			visibility: hidden
			+opacity(0)
	&__text
		width: 100%
		max-width: 530px
		margin: 0 auto
		+f300
		font-size: 14px
		line-height: 1.75
		color: #4f4f4f
		text-align: center
		a
			color: #1bb4ed
			+opacity(1)
			+tr_op
			will-change: opacity
			&:hover
				+opacity(0.8)
	ul
		font-size: 0
	li
		display: inline-block
//poisk - btn
.pills
	color: #000
	+f100
	font-size: 13px
	letter-spacing: 0.02em
	line-height: 1.25
	padding: 0 10px
	+border-radius(3px)
	display: inline-block
	+tr_color
	margin-right: 6px
	&:hover
		color: #2db9ee 
	&.is-active
		color: #fff 
		background: #2db9ee 
//poisk - post
.post
	padding: 40px 7px 22px 17px
	border-top: 1px solid #e9e9e9  
	+r(480)
		padding: 40px 20px 22px 20px 
	&-wrap
		padding: 55px 0 10px 0 
		max-width: 980px
		margin: 0 auto
		+r(1024)
			padding: 40px 25px 10px 
		+r(768)
			padding: 40px 0 10px 
	&:first-child
		border-top: none
	&__title
		font-size: 16px
		color: #000 
		line-height: 1.5
		letter-spacing: 0.02em 
		+f300
		display: inline-block
		margin-bottom: 12px
		+tr_color
		span
			+f500
		&:hover
			color: $blue_h
	p
		+f100
		font-size: 14px
		line-height: 1.75
		color: #000
		margin-bottom: 13px
		span
			+f500
	&__small
		+f300
		color: #b5b5b5
		font-size: 12px
		line-height: 2 
		+opacity(0.8)
		display: inline-block
		will-change: opacity
//poisk item		
.search-row
	padding: 12px 0 80px 0
.preloader
	padding: 60px 0 60px 0
	text-align: center 
//item(box) - poisk
.box
	width: 25%
	display: inline-block
	vertical-align: top
	position: relative
	border-top: 1px solid #e9e9e9
	+r(1024)
		width: 50%
	+r(768)
		width: 100%
	&:before, &:after
		content: "" 
		position: absolute
		top: 0
		width: 1px
		height: 1000px
		background: #e9e9e9
	&:before
		left: 0
	&:after
		right: -1px
	&:hover
		.compare
			+opacity(1)
	&-wrap
		font-size: 0
		border: 1px solid #e9e9e9
		border-top: none
		margin-top: -1px
		border-left: none
		overflow: hidden 
		&.is-favorites
			.box
				.compare__favorites
					position: absolute
					top: 30px
					right: 30px
					+svg(star-act, 18, 18)
					z-index: 5
	a
		+opacity(0.8)
		will-change: opacity
		+tr_op
		display: block
		padding: 30px 25px 17px 30px
		&:hover
			+opacity(1)
			p
				color: #1bb4ed 
			.box__small
				+opacity(0.8)
	&__img
		height: 184px
		+vertical
		position: relative
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
	&__info
		p
			+f300
			line-height: 1.65
			font-size: 14.06px
			letter-spacing: 0.02em 
			color: #000 
			margin-bottom: 7px
			+tr_color
			span
				font-size: 16px
				span
					+f500
	&__small
		line-height: 2
		font-size: 12px
		letter-spacing: 0.02em 
		+f100
		color: #b5b5b5
		margin-bottom: 5px
		&.is-yellow
			color: #ffb954 
	&__price
		+f100
		line-height: 1.5
		letter-spacing: 0.02em 
		color: #000
		font-size: 16px
	&__bottom
		+clr
		.box__small
			color: #a9d16a
			float: left
			&.is-yellow
				color: #ffb954 
		.box__price
			float: right
	.sticker
		position: absolute
		top: 0
		left: 0
	.compare
		+opacity(0)
		position: absolute
		top: 30px
		right: 30px
.compare
	+tr_op
	will-change: opacity
	z-index: 5
	display: inline-block
	font-size: 0
	&__rate
		+svg(rate, 14, 18)
		&:hover
			+svg(rate-blue, 14, 18)
	&__favorites
		margin-left: 15px
		+svg(star, 18, 16)
		&:hover
			+svg(star-act, 18, 16)
		
//personal
.comp-wrap
	padding: 50px 0  
	h2.title
		text-align: center
		+f300
		margin-bottom: 14px
	.comp-text
		font-size: 18px
		line-height: 1.45
		letter-spacing: 0.02em 
		color: #000
		text-align: center
		max-width: 500px
		margin: 0 auto 25px 
		+f100
	&.is-box
		padding-bottom: 0
		margin-bottom: -1px
		.comp-text
			margin-bottom: 60px
.comp
	max-width: 980px
	padding: 47px 83px 20px 76px
	+clr
	border-top: 1px solid #ededed
	+r(980)
		padding: 47px 40px 20px 40px
	+r(768)
		padding: 47px 25px 20px 25px 
	&:first-child
		border-top: none
	&__left
		float: left
		width: 150px
		+clr
		padding: 0 20px 20px 0 
		+r(480)
			float: none
	&__right
		float: right
		padding: 0 0 20px 0 
		+r(480)
			float: none
			text-align: left
	&__center
		overflow: hidden
		+r(768)
			clear: both
		ul
			max-width: 420px
			margin: 0 auto
			+r(768)
				max-width: 100%
			li
				+f100
				font-size: 13px
				line-height: 1.45
				margin-bottom: 5px
				padding: 0 8px 0 32px
				position: relative
				&:before
					position: absolute
					content: "" 
					top: 6px
					left: 0
					width: 6px
					height: 6px
					+border-radius(50%)
				&.is-green
					&:before
						background: #4cd68a 
				&.is-yellow
					&:before
						background: #ffd278 
				&.is-purple
					&:before
						background: #b48ead 
			a
				+f300
				font-size: 14px
				letter-spacing: 0.02em 
				color: #000
				+tr_color
				&:hover
					color: #2db9ee 
				span
					+f500
	&__delete
		+svg(close-gray, 9, 9)
		float: left
		+opacity(0.5)
		margin: 7px 0 0 0
		&:hover
			+svg(close-blue, 9, 9)
	&__date		
		+f300
		font-size: 12px
		line-height: 2
		letter-spacing: 0.02em 
		color: #000
		+opacity(0.5) 
		float: right

h2.title
	font-size: 24px
	+f100
	font-weight: normal
	letter-spacing: 0.02em 
	color: #010101 
.sticker
	display: inline-block
	+f300
	color: #fff
	font-size: 10px
	letter-spacing: 0.02em  
	background: #ff465c
	+border-radius(3px)
	padding: 1px 6px 2px 6px  
	line-height: 1
	z-index: 5
//row-item
.row-item
	padding: 22px 1px 20px 2px
	border-bottom: 1px solid #e9e9e9
	&:hover
		img
			+opacity(1)
	&-wrap
		padding: 50px 0
		+r(1280)
			padding: 50px 30px 
		+r(480)
			padding: 50px 20px 
	&__left
		float: left
		width: 100%
		max-width: 220px
		text-align: center
		position: relative
		height: 100px
		+vertical
		margin-bottom: 10px
		+r(480)
			max-width: 100%
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			+opacity(0.8)
			+tr_op
			will-change: opacity
	.sticker
		position: absolute
		top: 0
		left: 0
	&__right
		float: right
		max-width: 153px
		text-align: right
		padding: 10px 0 10px 0
		+r(480)
			max-width: 100%
	.compare
		float: left
	&__price
		font-size: 16px
		+f100
		letter-spacing: 0.02em
		color: #000
		float: right
	.btn-link
		margin-top: 40px
	&__center
		overflow: hidden
		padding: 10px 0 10px 0
		max-width: 520px
		margin: 0 auto
		+r(768)
			clear: both
			max-width: 100%
		a
			display: inline-block
			letter-spacing: 0.02em 
			+f100
			margin-bottom: 10px
			+opacity(0.8)
			+tr_op
			will-change: opacity
			&:hover
				+opacity(1)
				.row-item__title
					color: #1bb4ed 
		p
			+f100
			color: #000 
			letter-spacing: 0.02em 
			font-size: 13px
			line-height: 1.6
			+opacity(0.5)
			a
				color: #1bb4ed
				text-decoration: underline
				margin-bottom: 0
				&:hover
					text-decoration: none
	&__title
		font-size: 14px
		line-height: 1.45
		+tr_color
		color: #000 
		+r(480)
			display: block
		span
			+f300
			font-size: 15.93px
			span
				+f500
	&__gray
		font-size: 13.94px
		color: #b5b5b5
	&__green
		font-size: 11.95px
		color: #a9d16a	 
		margin-left: 5px
		
//Request
.request
	padding: 35px 0 50px 
	border-bottom: 1px solid #ededed
	&__left
		width: 220px
		padding: 0 20px 0 50px 
		float: left
		position: relative
		z-index: 5
		+r(768)
			padding: 10px 0 10px 20px
			width: 170px 
		+r(480)
			padding: 10px 20px
			width: 100%
			float: none
			text-align: center
		img
			max-width: 100%
	&__right
		width: 270px
		text-align: right
		float: right
		position: relative
		z-index: 5
		+r(1024)
			padding: 0 20px 0 0 
			width: 290px
		+r(480)
			padding: 10px 20px
			width: 100%
			float: none
	&__info
		+f300
		font-size: 12px
		line-height: 2
		letter-spacing: 0.02em
		display: block 
		margin-bottom: 3px
	&__time
		+f100
	&__link
		color: $red
		font-size: 12px
		line-height: 2
		letter-spacing: 0.02em 
		+f500 
		+tr_color
		&:hover
			color: $red_h
	&__center
		overflow: hidden
		+r(768)
			clear: both
			padding: 20px 20px 0 20px 
	&__title
		+f300
		font-size: 16px
		letter-spacing: 0.019em 
		display: block
		margin-bottom: 5px
	&__text
		a
			+f300
			font-size: 12px
			line-height: 1.5
			letter-spacing: 0.02em 
			color: #000
			+opacity(0.8)
			+tr_color 
			display: block
			span
				+f500
			&:hover
				color: #2db9ee 

.request-top
	text-align: center
	padding: 50px 20px 40px 20px
	border-bottom: 1px solid #ededed 
	ul.sorting
		margin-bottom: 20px
	h2.title
		+f300
		margin-bottom: 40px
	&__search
		max-width: 540px
		margin: 0 auto
		div
			position: relative
	&__keyword
		height: 30px
		padding: 0 30px 
		text-align: center
		+transition(border-color 0.3s, box-shadow 0.3s, color 0.3s)
		&:hover
			border-color: #c0c0c0
		&:focus
			border-color: #1bb4ed
			color: #1bb4ed 
		&.is-active
			text-align: left
	&__icon
		+svg(glass, 14, 14)
		position: absolute
		margin-top: -7px
		top: 50%
		left: 11px
		+opacity(0.5)
		&.is-active
			+svg(glass-act, 14, 14)
	&__delete
		+svg(close-gray, 9, 9)
		position: absolute
		top: 50%
		margin-top: -4px
		right: 15px
		+opacity(0.3)
		+tr_op
		will-change: opacity
		&.js-not
			visibility: hidden
			+opacity(0)

ul.sorting
	text-align: center
	li
		display: inline-block
		padding: 0 14px 10px 
	a
		+f300
		color: #23b7ed
		font-size: 14px
		line-height: 24px
		letter-spacing: 0.02em 
		+tr_color
		&:hover
			color: #000000
			sup
				visibility: visible
				+opacity(1) 
		sup
			font-size: 11.01px
			position: relative
			top: -10px
			+f100
			visibility: hidden
			+opacity(0)
			+tr_op
		&.is-active
			color: #000 
			sup
				visibility: visible
				+opacity(1)
//message
.messages
	padding: 50px 0 45px 0 
	h2.title
		text-align: center
		+f300
.message
	padding: 0 0 10px 0 
	&__left
		width: 220px
		padding: 30px 20px 0 50px 
		float: left
		position: relative
		z-index: 5
		+r(768)
			padding: 30px 20px
			width: 100%
			float: none
			text-align: center
		img
			max-width: 100%
	&__right
		overflow: hidden
		+clr
		border-top: 1px solid #e9e9e9
		padding: 40px 0 0 0 
		+r(1024)
			margin: 0 20px 0 
		+r(768)
			padding: 20px 20px 0 20px  
			margin: 0
	&__date
		float: right
		text-align: right
		width: 100px
		+f300
		font-size: 12px
		line-height: 2
		letter-spacing: 0.02em 
		color: #000
		+r(758)
			padding-bottom: 20px
	&__time
		+f100
	&__info
		overflow: hidden
		max-width: 480px
		+r(768)
			clear: both
		.confirm, .cancel
			margin-left: 20px
	&__title
		+f500
		font-size: 14px
		line-height: 1.35
		letter-spacing: 0.019em 
		color: #000
		display: block
		margin-bottom: 8px
	&__link
		+f300
		font-size: 14px
		line-height: 24px
		letter-spacing: 0.02em 
		color: #2db9ee
	&__box
		font-size: 0
		padding: 44px 0 50px 0
	textarea
		border: 1px solid #eaeaea
		+transition(border .3s, box-shadow .3s)
		width: 100%
		+br5
		resize: none
		padding: 14px 
		font-size: 14px
		color: #000
		+f300
		height: 98px
		margin-bottom: 16px
		&:hover
			border-color: #c3c3c3
		&:focus
			border: 1px solid #1BB4ED
			box-shadow: 0 0 5px rgba(27, 180, 237, 0.3)
	&__buttons
		float: right
		padding: 5px 0 0 
		+r(980)
			float: none
			margin-bottom: 10px
		button
			+r(980)
				margin-bottom: 10px
		.confirm
			margin-left: 34px
			+r(480)
				margin-left: 0
.cancel, .confirm
	+f300
	font-size: 12px
	line-height: 22px
	letter-spacing: 0.02em
	position: relative 
	padding-left: 15px
	background: none
	display: inline-block
	&:before
		position: absolute
		top: 7px
		left: 0
		content: ""
.cancel
	color: #ffb954 
	&:before
		+s(close-yellow)
.confirm
	color: #a9d16a 
	&:before
		+s(check-green)
	
//dialog
.comment
	border-top: 1px solid #e9e9e9
	padding: 45px 0 25px 
	&__right
		float: right
		padding: 2px 0 0 0
		+clr
		+r(768) 
			float: none
	&__left
		overflow: hidden
		max-width: 600px
		padding: 5px 
		+r(768)
			float: none
	&__name, &__my
		+f300
		font-size: 14px
		line-height: 18px
		letter-spacing: 0.019em 
		color: #000
		margin-bottom: 8px
		a
			color: #2db9ee
	&__my
		+f500
	p
		+f100
		font-size: 14px
		line-height: 22px
		letter-spacing: 0.02em 
		color: #4f4f4f 
		
//news-box
.news-box-wrap
	max-width: 1000px
	margin: 0 auto
	font-size: 0
	padding: 60px 0 0 0 
	+r(980)
		padding: 60px 8px 65px  
	+r(768)
		padding: 40px 0 65px
	+r(480)
		padding: 0 0 65px 0
	.sorting
		margin-bottom: 10px
		+r(480)
			display: none
	.btn
		margin: 0 auto
		display: none
		+r(980)
			display: block
			width: 220px
	.preloader
		+r(980)
			display: none
.news-box
	padding: 10px
	display: inline-block
	vertical-align: top
	margin-bottom: 35px
	+r(768)
		padding: 10px 0 
	+r(480)
		padding: 0
		margin-bottom: 60px
	&__img
		border: 1px solid #ededed
		position: relative
		+clr
		margin-bottom: 30px
		overflow: hidden
		+r(768)
			border: none
		div
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
		&:before
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: #2db9ee
			+opacity(0)
			content: "" 
			will-change: opacity
			+tr_op 
			z-index: 5
		img
			width: 100%
			float: left
	a
		display: block
		&:hover
			h2.title
				color: #2db9ee
			.news-box__img
				&:before
					+opacity(0.5) 
	h2.title
		+f300
		text-transform: uppercase
		+tr_color
		margin-bottom: 2px
		+r(768)
			font-size: 20px
			letter-spacing: 0 
	.meta
		display: block
		font-size: 11px
		margin-top: 17px
	p
		+f100
		font-size: 16px
		line-height: 24px
		color: #000 
	&_big
		width: 100%
		.news-box__img
			height: 0
			width: 100%
			padding-bottom: 39%  
			+r(768)
				padding-bottom: 80%
			+r(480)
				height: 280px
				padding-bottom: 0
	&_small
		width: 40%
		+r(768)
			width: 100%
		.news-box__img
			height: 0
			width: 100%
			padding-bottom: 100%   
			+r(768)
				padding-bottom: 80%
			+r(480)
				height: 280px
				padding-bottom: 0
	&_middle
		width: 60%
		+r(768)
			width: 100%
		.news-box__img
			height: 0
			width: 100%
			padding-bottom: 65.5%   
			+r(768)
				padding-bottom: 80%
			+r(480)
				height: 280px
				padding-bottom: 0
	&__info
		+r(768)
			padding: 0 30px 