doctype
html
	head
		include _head.jade
	body
		.l-center
			a.btn(href="#") Отправить резюме
			hr
			a.btn.btn_fluid(href="#") Отправить резюме
			hr
			a.btn-blue(href="#") Отправить резюме
			hr
			a.btn-blue-small(href="#") Отправить резюме
			hr
			a.btn-dark(href="#") Отправить резюме
			hr