doctype
html
	head
		include _head.jade
	body
		.out
			include _header.jade
			.brand-wrap
				.l-center
					ul.brand
						li
							span.brand__title a
							ul.brand__list
								li
									a(href="#") Alfa Romeo
										sup 98
								li
									a(href="#") Audi
										sup 98
						li
							span.brand__title b
							ul.brand__list
								li
									a(href="#") Bentley
										sup 98
								li
									a(href="#") BMW
										sup 98
						li
							span.brand__title c
							ul.brand__list
								li
									a(href="#") Cadillac
										sup 98
								li
									a(href="#") Chery
										sup 98
								li
									a(href="#") Chevrolet
										sup 98
								li
									a(href="#") Chrysler
										sup 98
								li
									a(href="#") Citroen
										sup 98
						li
							span.brand__title d
							ul.brand__list
								li
									a(href="#") Dacia
										sup 98
								li
									a(href="#") Daewoo
										sup 98
								li
									a(href="#") Dodge
										sup 98
						li
							span.brand__title f
							ul.brand__list
								li
									a(href="#") Fiat
										sup 98
								li
									a(href="#") Ford
										sup 98
						li
							span.brand__title g
							ul.brand__list
								li
									a(href="#") Geely
										sup 98
								li
									a(href="#") Great Wall
										sup 98
						li
							span.brand__title h
							ul.brand__list
								li
									a(href="#") Honda
										sup 98
								li
									a(href="#") Hyundai
										sup 98
						li
							span.brand__title j
							ul.brand__list
								li
									a(href="#") Jaguar
										sup 98
								li
									a(href="#") Jeep
										sup 98
						li
							span.brand__title k
							ul.brand__list
								li
									a(href="#") Kia
										sup 98
						li
							span.brand__title l
							ul.brand__list
								li
									a(href="#") Lada
										sup 98
								li
									a(href="#") Lancia
										sup 98
								li
									a(href="#") Land Rover
										sup 98
						li
							span.brand__title m
							ul.brand__list
								li
									a(href="#") Mazda
										sup 98
								li
									a(href="#") Mercedes-Benz
										sup 98
								li
									a(href="#") MG
										sup 98
								li
									a(href="#") Mini
										sup 98
								li
									a(href="#") Mitsubishi
										sup 98
						li
							span.brand__title n
							ul.brand__list
								li
									a(href="#") Nissan
										sup 98
						li
							span.brand__title o
							ul.brand__list
								li
									a(href="#") Opel
										sup 98
						li
							span.brand__title p
							ul.brand__list
								li
									a(href="#") Peugeot
										sup 98
								li
									a(href="#") Porsche
										sup 98
						li
							span.brand__title r
							ul.brand__list
								li
									a(href="#") Renault
										sup 98
						li
							span.brand__title s
							ul.brand__list
								li
									a(href="#") Samand
										sup 98
								li
									a(href="#") Seat
										sup 98
								li
									a(href="#") SsangYong
										sup 98
								li
									a(href="#") Subaru
										sup 98
								li
									a(href="#") Suzuki
										sup 98
						li
							span.brand__title t
							ul.brand__list
								li
									a(href="#") Toyota
										sup 98
						li
							span.brand__title u
							ul.brand__list
								li
									a(href="#") Uaz
										sup 98
						li
							span.brand__title v
							ul.brand__list
								li
									a(href="#") Volkswagen
										sup 98
								li
									a(href="#") Volvo
										sup 98
						li
							span.brand__title z
							ul.brand__list
								li
									a(href="#") Zaz
										sup 98
			.push 
		include _footer.jade 


