doctype
html
	head
		include _head.jade
	body
		.out
			include _header.jade
			.l-center
				.brand-wrap
					ul.brand
						li
							span.brand__title a
							ul.brand__list
								li
									a(href="#") Alfa Romeo
								li
									a(href="#") Audi
						li
							span.brand__title b
							ul.brand__list
								li
									a(href="#") Bentley
								li
									a(href="#") BMW
						li
							span.brand__title c
							ul.brand__list
								li
									a(href="#") Cadillac
								li
									a(href="#") Chery
								li
									a(href="#") Chevrolet
								li
									a(href="#") Chrysler
								li
									a(href="#") Citroen
						li
							span.brand__title d
							ul.brand__list
								li
									a(href="#") Dacia
								li
									a(href="#") Daewoo
								li
									a(href="#") Dodge
						li
							span.brand__title f
							ul.brand__list
								li
									a(href="#") Fiat
								li
									a(href="#") Ford
						li
							span.brand__title g
							ul.brand__list
								li
									a(href="#") Geely
								li
									a(href="#") Great Wall
						li
							span.brand__title h
							ul.brand__list
								li
									a(href="#") Honda
								li
									a(href="#") Hyundai
						li
							span.brand__title j
							ul.brand__list
								li
									a(href="#") Jaguar
								li
									a(href="#") Jeep
						li
							span.brend__title k
							ul.brand__list
								li
									a(href="#") Kia
						li
							span.brand__title l
							ul.brand__list
								li
									a(href="#") Lada
								li
									a(href="#") Lancia
								li
									a(href="#") Land Rover
						li
							span.brand__title m
							ul.brand__list
								li
									a(href="#") Mazda
								li
									a(href="#") Mercedes-Benz
								li
									a(href="#") MG
								li
									a(href="#") Mini
								li
									a(href="#") Mitsubishi
						li
							span.brand__title n
							ul.brand__list
								li
									a(href="#") Nissan
						li
							span.brand__title o
							ul.brand__list
								li
									a(href="#") Opel
						li
							span.brand__title p
							ul.brand__list
								li
									a(href="#") Peugeot
								li
									a(href="#") Porsche
						li
							span.brand__title r
							ul.brand__list
								li
									a(href="#") Renault
						li
							span.brand__title s
							ul.brand__list
								li
									a(href="#") Samand
								li
									a(href="#") Seat
								li
									a(href="#") SsangYong
								li
									a(href="#") Subaru
								li
									a(href="#") Suzuki
						li
							span.brand__title t
							ul.brand__list
								li
									a(href="#") Toyota
						li
							span.brand__title u
							ul.brand__list
								li
									a(href="#") Uaz
						li
							span.brand__title v
							ul.brand__list
								li
									a(href="#") Volkswagen
								li
									a(href="#") Volvo
						li
							span.brand__title z
							ul.brand__list
								li
									a(href="#") Zaz
			.push 
		include _footer.jade 


