doctype
html
	head
		include _head.jade
	body
		.out 
			include _header_catalog.jade
			.catalog-wrap
				.catalog(id="series1")
					.l-center
						.catalog__top
							h2.title 1 series
								i i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-1series-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Трёхдверный хэтчбек, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-1series-hatchback98.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Пятидверный хэтчбек, 2015 
									span.item__price $ 29 900 - 35 000
				.catalog(id="series2")
					.l-center
						.catalog__top
							h2.title 3 series
								i i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-3series-sedan.png", alt="")
								.item__info
									p BMW 3-series sedan 
										sup 98
									span.item__small Пятидверный седан, 2013
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-3series-hatchback.png", alt="")
								.item__info
									p BMW 3-series hatchback 
										sup 98
									span.item__small Пятидверный Гранд Туризмо, 2015  
									span.item__price $ 29 900 - 35 000
				.catalog(id="series3")
					.l-center
						.catalog__top
							h2.title 5 series
								i i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-5series-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Пятидверный седан, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-5series-hatchback2.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Пятидверный Гранд Туризмо, 2015 
									span.item__price $ 29 900 - 35 000
				.catalog(id="series4")
					.l-center
						.catalog__top
							h2.title 6 series
								i i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-6series-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Купе, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-6series-hatchback2.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Гранд Купе, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-6series-hatchback3.png", alt="")
								.item__info
									p BMW 1-series hatchback  
										sup 98
									span.item__small Кабриолет, 2015 
									span.item__price $ 29 900 - 35 000
				.catalog(id="series5")
					.l-center
						.catalog__top
							h2.title 7 series
								i i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-7series-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Седан, 2015
									span.item__price $ 29 900 - 35 000
				.catalog(id="series6")
					.l-center
						.catalog__top
							h2.title X series
								i i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кроссовер X1, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback2.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кроссовер X3, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback3.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кабриолет, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback4.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кабриолет, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback5.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кроссовер X1, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback6.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кроссовер X3, 2015
									span.item__price $ 29 900 - 35 000
				.catalog(id="series7")
					.l-center
						.catalog__top
							h2.title Z4 series
								i i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-z4series-hatchback.png", alt="")
								.item__info
									p BMW Z4-series hatchback 
										sup 98
									span.item__small Родстер, 2015
									span.item__price $ 29 900 - 35 000
				.catalog(id="series8")
					.l-center
						.catalog__top
							h2.title M series
								i i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m3series-sedan.png", alt="")
								.item__info
									p BMW M3-series sedan 
										sup 98
									span.item__small М3 седан, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m4series-hatchback.png", alt="")
								.item__info
									p BMW М4-series hatchback 
										sup 98
									span.item__small М4 купе, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-mseries-hatchback3.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кабриолет, 2015  
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m6series-hatchback.png", alt="")
								.item__info
									p BMW М6-series hatchback 
										sup 98
									span.item__small М6 купе, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m6series-hatchback2.png", alt="")
								.item__info
									p BMW М6-series hatchback 
										sup 98
									span.item__small М6 гранд купе, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-mseries-hatchback6.png", alt="")
								.item__info
									p BMW 1-series hatchback  
										sup 98
									span.item__small M6 Кабриолет, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-x6mseries-hatchback.png", alt="")
								.item__info
									p BMW X6 M-series hatchback 
										sup 98
									span.item__small X6 M, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m5series-hatchback.png", alt="")
								.item__info
									p BMW М5-series hatchback 
										sup 98
									span.item__small M5 седан, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-x5mseries-hatchback.png", alt="")
								.item__info
									p BMW X5 M-series hatchback 
										sup 98
									span.item__small X5 M, 2015 
									span.item__price $ 29 900 - 35 000
			.l-center
				
			.push 
		include _footer.jade 


