doctype
html
	head
		include _head.jade
	body.js-fixed
		.overlay.js-overlay(style="display:none")
		.popup-wrap.js-popup(data-popup="js-popup-el", style="display:none")
			.popup#popup1
				.popup__body
					span.popup__close.js-popup-close
					img(src="http://placehold.it/800x465", alt="")
					.popup__inner
						.popup__top
							span.popup__title BMW 1 series
							p Автомобиль выпускается с 2004 года. Последним автомобилем такого класса этого немецкого производителя был BMW 3 Compact (E36/5, E46/5). Машина имеет много общих решений с другими моделями. Так, передняя подвеска стойки МакФерсон от «пятёрки» E60, а задняя многорычажная от «трёшки» E90.
						h2 Компактный автомобиль с задним приводом и продольным расположением двигателя
						p Автомобиль выпускается с 2004 года. Последним автомобилем такого класса этого немецкого производителя был BMW 3 Compact (E36/5, E46/5). Машина имеет много общих решений с другими моделями. Так, передняя подвеска стойки МакФерсон от «пятёрки» E60, а задняя многорычажная от «трёшки» E90.
						p Модель позиционируется в зависимости от комплектации как пяти или четырёхместный автомобиль. Центральная часть приборной панели слегка повёрнута в сторону водителя, а вместо ключа зажигания — брелок и кнопка «Start» над ним.
		.out 
			include _header_catalog.jade
			.catalog-wrap.js-content
				.catalog.js-block(id="series1")
					.l-center
						.catalog__top
							h2.title 1 series
								a.js-popup-link(href="#popup1") i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-1series-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Трёхдверный хэтчбек, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-1series-hatchback98.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Пятидверный хэтчбек, 2015 
									span.item__price $ 29 900 - 35 000
				.catalog.js-block(id="series2")
					.l-center
						.catalog__top
							h2.title 3 series
								a.js-popup-link(href="#popup1") i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-3series-sedan.png", alt="")
								.item__info
									p BMW 3-series sedan 
										sup 98
									span.item__small Пятидверный седан, 2013
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-3series-hatchback.png", alt="")
								.item__info
									p BMW 3-series hatchback 
										sup 98
									span.item__small Пятидверный Гранд Туризмо, 2015  
									span.item__price $ 29 900 - 35 000
				.catalog.js-block(id="series3")
					.l-center
						.catalog__top
							h2.title 5 series
								a.js-popup-link(href="#popup1") i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-5series-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Пятидверный седан, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-5series-hatchback2.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Пятидверный Гранд Туризмо, 2015 
									span.item__price $ 29 900 - 35 000
				.catalog.js-block(id="series4")
					.l-center
						.catalog__top
							h2.title 6 series
								a.js-popup-link(href="#popup1") i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-6series-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Купе, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-6series-hatchback2.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Гранд Купе, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-6series-hatchback3.png", alt="")
								.item__info
									p BMW 1-series hatchback  
										sup 98
									span.item__small Кабриолет, 2015 
									span.item__price $ 29 900 - 35 000
				.catalog.js-block(id="series5")
					.l-center
						.catalog__top
							h2.title 7 series
								a.js-popup-link(href="#popup1") i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-7series-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Седан, 2015
									span.item__price $ 29 900 - 35 000
				.catalog.js-block(id="series6")
					.l-center
						.catalog__top
							h2.title X series
								a.js-popup-link(href="#popup1") i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кроссовер X1, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback2.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кроссовер X3, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback3.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кабриолет, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback4.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кабриолет, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback5.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кроссовер X1, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-xseries-hatchback6.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кроссовер X3, 2015
									span.item__price $ 29 900 - 35 000
				.catalog.js-block(id="series7")
					.l-center
						.catalog__top
							h2.title Z4 series
								a.js-popup-link(href="#popup1") i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-z4series-hatchback.png", alt="")
								.item__info
									p BMW Z4-series hatchback 
										sup 98
									span.item__small Родстер, 2015
									span.item__price $ 29 900 - 35 000
				.catalog.js-block(id="series8")
					.l-center
						.catalog__top
							h2.title M series
								a.js-popup-link(href="#popup1") i
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m3series-sedan.png", alt="")
								.item__info
									p BMW M3-series sedan 
										sup 98
									span.item__small М3 седан, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m4series-hatchback.png", alt="")
								.item__info
									p BMW М4-series hatchback 
										sup 98
									span.item__small М4 купе, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-mseries-hatchback3.png", alt="")
								.item__info
									p BMW 1-series hatchback 
										sup 98
									span.item__small Кабриолет, 2015  
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m6series-hatchback.png", alt="")
								.item__info
									p BMW М6-series hatchback 
										sup 98
									span.item__small М6 купе, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m6series-hatchback2.png", alt="")
								.item__info
									p BMW М6-series hatchback 
										sup 98
									span.item__small М6 гранд купе, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-mseries-hatchback6.png", alt="")
								.item__info
									p BMW 1-series hatchback  
										sup 98
									span.item__small M6 Кабриолет, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-x6mseries-hatchback.png", alt="")
								.item__info
									p BMW X6 M-series hatchback 
										sup 98
									span.item__small X6 M, 2015
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-m5series-hatchback.png", alt="")
								.item__info
									p BMW М5-series hatchback 
										sup 98
									span.item__small M5 седан, 2015 
									span.item__price $ 29 900 - 35 000
						.item
							a(href="#")
								.item__img
									img(src="img/item/bmw-x5mseries-hatchback.png", alt="")
								.item__info
									p BMW X5 M-series hatchback 
										sup 98
									span.item__small X5 M, 2015 
									span.item__price $ 29 900 - 35 000
			.l-center
				
			.push 
		include _footer.jade 


