doctype
html
	head
		include _head.jade
		title 1-2catalog-bmw-3series-1
	body
		.out
			include _header_news-inner.jade
			.article
				h1 Что нам стои дом построить
				p Новый 
					strong BMW X5 
					|  в очередной раз задает еще более высокий уровень стандартов в сегменте SUV, предлагая выдающееся качество и комфорт во всех сферах, к которым предъявляются наивысшие требования. Широкий диапазон инновационных технологий позволяет повысить эффективность и динамику до совершенно нового уровня как на дороге, так и на бездорожье.
				hr
				blockquote 
					i Выражаем огромную благодарность всем сотрудникам “
						u Flxmd
						|” за старания, за креатив и скорость. Проект получился действительно крутой! Немало сил было потрачено на разработку нашего ресурса. Но все справились, все молодцы, все котики. Счастья!
				hr
				h2 1. Сначала была идея
				p Новый 
					strong BMW X5 
					|  в очередной раз задает еще более высокий уровень стандартов в сегменте SUV, предлагая выдающееся качество и комфорт во всех сферах, к которым предъявляются наивысшие требования. Широкий диапазон инновационных технологий позволяет повысить эффективность и динамику до совершенно нового уровня как на дороге, так и на бездорожье.
				p 
					i Новый BMW X5 в очередной раз задает еще более высокий уровень стандартов в сегменте SUV, предлагая выдающееся качество и комфорт во всех сферах, к которым предъявляются наивысшие требования. Широкий диапазон инновационных технологий позволяет повысить эффективность и динамику до совершенно нового уровня как на дороге, на бездорожье.
				hr 
				figure 
					img(src="http://placehold.it/980x500", alt="")
					span Наш офис изнутри. Здесь мы трудимся каждый божий день, делая для вас поистине отменный сервис.
				hr 
				h2 2. Потом мы воплотили все то, что задумали, в жизнь
				p Новый BMW X5 в очередной раз задает еще более высокий уровень стандартов в сегменте SUV, предлагая выдающееся качество и комфорт во всех сферах, к которым предъявляются наивысшие требования. Широкий диапазон инновационных технологий позволяет повысить эффективность и динамику до совершенно нового уровня как на дороге, так 
					br 
					| и на бездорожье.
				hr 
				figure
					.video
						iframe(src="http://player.vimeo.com/video/76856850", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
					span Наш офис изнутри. Здесь мы трудимся каждый божий день, делая для вас поистине отменный сервис.
				hr
				.gallery
					h2 Галерея фотографий
					.slider.js-slider
						.slider__list
							.slider__item
								img(src="img/slider-item.jpg", alt="")
							.slider__item
								img(src="img/slider-item.jpg", alt="")
							.slider__item
								img(src="img/slider-item.jpg", alt="")
							.slider__item
								img(src="img/slider-item.jpg", alt="")
							.slider__item
								img(src="img/slider-item.jpg", alt="")
					span Так к нам приходит вдохновение...
				ul.social
					li
						img(src="img/fb.png", alt="")			
					li
						img(src="img/vk.png", alt="")			
					li
						img(src="img/twitter.png", alt="")
				div
					h2 Дальше — больше, продолжим чтение?
			.news-box-wrap
				.news-box.news-box_small
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_small.jpg) no-repeat 50% 100%; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				.news-box.news-box_middle
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_middle.jpg) no-repeat 20% 50%; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				.news-box.news-box_middle
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_middle.jpg) no-repeat 20% 50%; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				.news-box.news-box_small
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_small.jpg) no-repeat 50% 100%; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
			.push 
		include _footer.jade 


