doctype
html
	head
		include _head.jade
		title 1-2catalog-bmw-3series-1
	body
		.out
			header.header.header_news
				.header__top
					a.header__logo(href="#")
					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
						a(href="#") Новости индустрии
						a(href="#") BMW
					.page-title BMW 3 series
				.header__bottom
					.header__center
						.header__nav
							.header__nav-list
								a(href="js-scroll1").js-scroll-to Описание
								a(href="js-scroll2").js-scroll-to Дизайн
								a(href="js-scroll3").js-scroll-to Характеристики
								a(href="js-scroll4").js-scroll-to Технологии
					.header__right
						a.btn(href="#") Подписаться на новостиe
				.header__bg
					.header__bg-in(style="background-image: url(img/bmw-bg-big.jpg)")
				include _nav.jade
			.article.article_smallfont.js-scroll1
				h2 Описание
				p Седан среднего класса BMW 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (BMW E90). Колесная база увеличилась на 50 мм,а объем багажника — на 50 литров. При этом абсолютно все модификации модели стали легче по сравнению с Е90. 
				hr
				.article__in.js-scroll2
					h2 Дизайн
					.tabs-wrap.js-tabs
						ul.tabs
							li.is-active
								a(href="#") Фото
							li
								a(href="#") Видео
					.tabs-list.js-tabs
						.tabs-list__text.js-tabs-text Фото
						ul.tabs
							li.is-active
								a(href="#") Фото
							li
								a(href="#") Видео
					.js-tabs-group
						.tabs-content.js-tabs-content 
							ul.tabs-link.js-tabs
								li
									a(href="#") Все                                   
								li
									a(href="#") Салон
								li
									a(href="#") Экстерьер
								li
									a(href="#") Детали
							.js-tabs-group
								.tabs-content.js-tabs-content
									.gallery
										.slider
											.slider__list.js-slick
												.slider__item
													img(src="img/slider-item2.jpg", alt="")
												.slider__item
													img(src="img/slider-item2.jpg", alt="")
												.slider__item
													img(src="img/slider-item2.jpg", alt="")
												.slider__item
													img(src="img/slider-item2.jpg", alt="")
												.slider__item
													img(src="img/slider-item2.jpg", alt="")
										span Приборная панель BMW отличается эргономичностью и максимальной информативностью всех расположенных на ней приборов. Практически все последние модели БМВ оснащаются спидометрами, которые оцифруются как милями, так и километрами.
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									p 4
						.tabs-content.js-tabs-content
							ul.tabs-link.js-tabs
								li.is-active
									a(href="#") Все                                   
								li
									a(href="#") Салон
								li
									a(href="#") Экстерьер
								li
									a(href="#") Детали
							.js-tabs-group
								.tabs-content.js-tabs-content
									figure
										.video
											iframe(src="http://player.vimeo.com/video/76856850", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
										span Наш офис изнутри. Здесь мы трудимся каждый божий день, делая для вас поистине отменный сервис.
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									p 4
				hr
				.article__in.js-scroll3
					h2 Основные характеристики
					.tabs-wrap.js-tabs
						ul.tabs
							li.is-active
								a(href="#") Двигатель
							li
								a(href="#") Коробка передач
							li
								a(href="#") Тормозная система  
							li
								a(href="#") Рулевое управление
							li
								a(href="#") Ходовая часть
					.tabs-list.js-tabs
						.tabs-list__text.js-tabs-text Двигатель
						ul.tabs
							li.is-active
								a(href="#") Двигатель
							li
								a(href="#") Коробка передач
							li
								a(href="#") Тормозная система  
							li
								a(href="#") Рулевое управление
							li
								a(href="#") Ходовая часть
					.js-tabs-group
						.tabs-content.js-tabs-content
							h1 1.5, 1.8, 2.0 литра
							h2 Компактный автомобиль с задним приводом и продольным расположением двигателя
							p Автомобиль выпускается с 2004 года. Последним автомобилем такого класса этого немецкого производителя был BMW 3 Compact (E36/5, E46/5). Машина имеет много общих решений с другими моделями. Так, передняя подвеска стойки МакФерсон от «пятёрки» E60, а задняя многорычажная от «трёшки» E90.
							p Модель позиционируется в зависимости от комплектации как пяти или четырёхместный автомобиль. Центральная часть приборной панели слегка повёрнута в сторону водителя, а вместо ключа зажигания — брелок и кнопка «Start» над ним.
							p Машина выпускается в четырёх кузовах: с 3-х и 5-дверные хетчбэки (E81, E87) (сняты с производства), купе (E82) и кабриолет (E88).
							h2 Двигатели S14 (1986 - 1991 г.г.)
							p Основанный на блоке М10, S14 был разработан отделением BMW Motorsport для М3 в кузове Е30.
							ul
								li Объем: 2302 (2467)
								li Диаметр цилиндра: 93.4 (95)
								li Ход поршня: 84 (87)
								li Представлен в 1986 / (1989)
						.tabs-content.js-tabs-content
							p cont1
						.tabs-content.js-tabs-content
							p cont2
						.tabs-content.js-tabs-content
							p cont3
						.tabs-content.js-tabs-content
							p cont4
				hr
				.article__in.js-scroll4
					h2 Технологии
					.tabs-wrap.js-tabs
						ul.tabs.js-tabs
							li.is-active
								a(href="#") Безопасность
							li
								a(href="#") Комфорт
							li
								a(href="#") Обзор  
							li
								a(href="#") Салон
							li
								a(href="#") Мультимедиа
							li
								a(href="#") Защита от угона
							li
								a(href="#") Экстерьер                                           
					.tabs-list.js-tabs
						.tabs-list__text.js-tabs-text Двигатель
						ul.tabs
							li.is-active
								a(href="#") Безопасность
							li
								a(href="#") Комфорт
							li
								a(href="#") Обзор  
							li
								a(href="#") Салон
							li
								a(href="#") Мультимедиа
							li
								a(href="#") Защита от угона
							li
								a(href="#") Экстерьер                                           
					.js-tabs-group
						.tabs-content.js-tabs-content
							ul.tabs-link.js-tabs
								li.is-active
									a(href="#") ABS
								li
									a(href="#") ESP
								li
									a(href="#") Isofix / LATCH 
								li
									a(href="#") Подушка безопасности
								li
									a(href="#") Система помощи при старте в гору    
							.js-tabs-group
								.tabs-content.js-tabs-content
									img(src="http://placehold.it/525x278", alt="img", align="left")
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей машин. Захватывающий дух динамики.
									p Впечатляющая техника и потрясающий дизайн выделяет данную серию автомобилей BMW среди остальных машин. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн.
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 4
						.tabs-content.js-tabs-content

							ul.tabs-link.js-tabs
								li.is-active
									a(href="#") ABS
								li
									a(href="#") ESP
								li
									a(href="#") Isofix / LATCH 
								li
									a(href="#") Подушка безопасности
								li
									a(href="#") Система помощи при старте в гору    
							.js-tabs-group
								.tabs-content.js-tabs-content
									img(src="http://placehold.it/525x278", alt="img", align="left")
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей машин. Захватывающий дух динамики.
									p Впечатляющая техника и потрясающий дизайн выделяет данную серию автомобилей BMW среди остальных машин. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн.
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 4
						.tabs-content.js-tabs-content
							ul.tabs-link.js-tabs
								li.is-active
									a(href="#") ABS
								li
									a(href="#") ESP
								li
									a(href="#") Isofix / LATCH 
								li
									a(href="#") Подушка безопасности
								li
									a(href="#") Система помощи при старте в гору    
							.js-tabs-group
								.tabs-content.js-tabs-content
									img(src="http://placehold.it/525x278", alt="img", align="left")
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей машин. Захватывающий дух динамики.
									p Впечатляющая техника и потрясающий дизайн выделяет данную серию автомобилей BMW среди остальных машин. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн.
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 4
						.tabs-content.js-tabs-content
							ul.tabs-link.js-tabs
								li.is-active
									a(href="#") ABS
								li
									a(href="#") ESP
								li
									a(href="#") Isofix / LATCH 
								li
									a(href="#") Подушка безопасности
								li
									a(href="#") Система помощи при старте в гору    
							.js-tabs-group
								.tabs-content.js-tabs-content
									img(src="http://placehold.it/525x278", alt="img", align="left")
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей машин. Захватывающий дух динамики.
									p Впечатляющая техника и потрясающий дизайн выделяет данную серию автомобилей BMW среди остальных машин. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн.
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 4
						.tabs-content.js-tabs-content
							ul.tabs-link.js-tabs
								li.is-active
									a(href="#") ABS
								li
									a(href="#") ESP
								li
									a(href="#") Isofix / LATCH 
								li
									a(href="#") Подушка безопасности
								li
									a(href="#") Система помощи при старте в гору    
							.js-tabs-group
								.tabs-content.js-tabs-content
									img(src="http://placehold.it/525x278", alt="img", align="left")
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей машин. Захватывающий дух динамики.
									p Впечатляющая техника и потрясающий дизайн выделяет данную серию автомобилей BMW среди остальных машин. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн.
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 4
						.tabs-content.js-tabs-content
							ul.tabs-link.js-tabs
								li.is-active
									a(href="#") ABS
								li
									a(href="#") ESP
								li
									a(href="#") Isofix / LATCH 
								li
									a(href="#") Подушка безопасности
								li
									a(href="#") Система помощи при старте в гору    
							.js-tabs-group
								.tabs-content.js-tabs-content
									img(src="http://placehold.it/525x278", alt="img", align="left")
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей машин. Захватывающий дух динамики.
									p Впечатляющая техника и потрясающий дизайн выделяет данную серию автомобилей BMW среди остальных машин. 
									p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн.
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 4
						.tabs-content.js-tabs-content
							ul.tabs-link.js-tabs
								li.is-active
									a(href="#") ABS
								li
									a(href="#") ESP
								li
									a(href="#") Isofix / LATCH 
								li
									a(href="#") Подушка безопасности
								li
									a(href="#") Система помощи при старте в гору    
							.js-tabs-group
								.tabs-content.js-tabs-content
									p 7
								.tabs-content.js-tabs-content
									p 2
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 3
								.tabs-content.js-tabs-content
									.tabs-content.js-tabs-content
									p 4
				hr
				.article__in
					h2 Комплектации и цены BMW 3 series
					.tabs-wrap.js-tabs
						button.tabs-wrap__prev.js-tabs-prev(type="button")
						ul.tabs
							li.is-active
								a(href="#") 316i SE 
									em 5
							li
								a(href="#") 320i SE 
									em 2
							li
								a(href="#") 320i xDrive 
									em 1  
							li
								a(href="#") 320d xDrive Modern Line 
									em 7
							li
								a(href="#") 328i 
									em 5
							li
								a(href="#") 320i xDrive M Sport 
									em 1
							li
								a(href="#") 328i xDrive   
							li
								a(href="#") 335i xDrive
						button.tabs-wrap__next.js-tabs-next(type="button")
					.tabs-list.js-tabs
						.tabs-list__text.js-tabs-text 316i SE
						ul.tabs
							li.is-active
								a(href="#") 316i SE 
									em 5
							li
								a(href="#") 320i SE 
									em 2
							li
								a(href="#") 320i xDrive 
									em 1  
							li
								a(href="#") 320d xDrive Modern Line 
									em 7
							li
								a(href="#") 328i 
									em 5
							li
								a(href="#") 320i xDrive M Sport 
									em 1
							li
								a(href="#") 328i xDrive   
							li
								a(href="#") 335i xDrive
					.js-tabs-group
						.tabs-content.js-tabs-content
							p BMW 320 xDrive Modern Line — седан D-класса. Модель выпускается с 2013 года. По своим габаритам автомобиль превосходит универсал 3-Series. Длина GT увеличилась на 200 мм, высота – на 81 мм, а колесная база – на 110 мм.
							.row-item.row-item_mod
								.row-item__left
									img(src="img/item/bmw-3series-hatchback.png", alt="")
								.row-item__right
									.compare
										button.compare__favorites 
									span.row-item__price $ 25 300
									a(href="#").btn-link Посмотреть
								.row-item__center
									a(href="#")
										span.row-item__title
											span
												span BMW 
											| 320d xDrive Modern Line 
											| 2.0 AT (360л.с.) бензин, задний привод, 6 МКП, серый металлик, 
										span.row-item__gray Кроссовер, 2014–2015  
										span.row-item__green В наличии
									p Дополнительно: кожаный салон, система Isofix / LATCH, тонированные окна, золотой металлик, подогрев передних сидений, легкосплавные диски 16", передний центральный подлокотник, активный уси... 
										a(href="#") подробнее
							.row-item.row-item_mod
								.row-item__left
									img(src="img/item/bmw-3series-hatchback.png", alt="")
								.row-item__right
									.compare
										button.compare__favorites 
									span.row-item__price $ 25 300
									a(href="#").btn-link Посмотреть
								.row-item__center
									a(href="#")
										span.row-item__title
											span
												span BMW 
											| 320d xDrive Modern Line 
											| 2.0 AT (360л.с.) бензин, задний привод, 6 МКП, серый металлик, 
										span.row-item__gray Кроссовер, 2014–2015  
										span.row-item__green В наличии
									p Дополнительно: кожаный салон, система Isofix / LATCH, тонированные окна, золотой металлик, подогрев передних сидений, легкосплавные диски 16", передний центральный подлокотник, активный уси... 
										a(href="#") подробнее
							.row-item.row-item_mod
								.row-item__left
									img(src="img/item/bmw-3series-hatchback.png", alt="")
								.row-item__right
									.compare
										button.compare__favorites 
									span.row-item__price $ 25 300
									a(href="#").btn-link Посмотреть
								.row-item__center
									a(href="#")
										span.row-item__title
											span
												span BMW 
											| 320d xDrive Modern Line 
											| 2.0 AT (360л.с.) бензин, задний привод, 6 МКП, серый металлик, 
										span.row-item__gray Кроссовер, 2014–2015  
										span.row-item__green В наличии
									p Дополнительно: кожаный салон, система Isofix / LATCH, тонированные окна, золотой металлик, подогрев передних сидений, легкосплавные диски 16", передний центральный подлокотник, активный уси... 
										a(href="#") подробнее
							.row-item-action
								a.btn-action(href="#") Показать ещё
								a.btn(href="#") Все BMW 3 series в каталоге
						.tabs-content.js-tabs-content
							p cont2
						.tabs-content.js-tabs-content
							p cont3
						.tabs-content.js-tabs-content
							p cont4
						.tabs-content.js-tabs-content
							p cont5
						.tabs-content.js-tabs-content
							p cont6
						.tabs-content.js-tabs-content
							p cont7
						.tabs-content.js-tabs-content
							p cont8
			.push 
		include _footer.jade 


