doctype
html
	head
		include _head.jade
		title 1-3catalog-bmw-3series-car-1
	body
		.out
			header.header.header_inside
				.header__top
					a.header__logo(href="#")
					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
						a(href="#") Новости индустрии
						a(href="#") BMW
						a(href="#") 3 series
				.header__bg
					.header__bg-in(style="background-image: url(img/bmw-bg-blur.jpg)")
				include _nav.jade
			.main
				.product-wrap
					.carousel
						.carousel__main.js-carousel
							div
								img(src="img/gallery-big.jpg", alt="img")
							div
								img(src="img/gallery-big.jpg", alt="img")
							div
								img(src="img/gallery-big.jpg", alt="img")
							div
								img(src="img/gallery-big.jpg", alt="img")
							div
								img(src="img/gallery-big.jpg", alt="img")
							div
								img(src="img/gallery-big.jpg", alt="img")
						.carousel__preview.js-carousel-preview
							div
								img(src="img/gallery-preview.jpg", width="109" alt="img")
							div
								img(src="img/gallery-preview.jpg", width="109" alt="img")
							div
								img(src="img/gallery-preview.jpg", width="109" alt="img")
							div
								img(src="img/gallery-preview.jpg", width="109" alt="img")
							div
								img(src="img/gallery-preview.jpg", width="109" alt="img")
							div
								img(src="img/gallery-preview.jpg", width="109" alt="img")
					.product
						.product__head
							.product__title BMW 320d xDrive Modern Line  
							.product__info 2.0 AT (360л.с.) бензин, задний привод, 6 МКП  
							.product__meta Купе, 2014–2015  
								span.is-green В наличии
							span.sticker акция
							.compare
								button.compare__favorites
						.product__main
							p Кожаный салон, система Isofix / LATCH, тонированные окна, синий металлик, подогрев передних сидений, легкосплавные диски 16", пе- редний центральный подлокотник, гидроусили- тель руля, золотой портсигар
								a.link-more(href="#") 
									| ... 
									span подробнее
							.color
								span.color__title Цвет:
								i.color__circle.is-blue
								span.color__label синий металлик
						.product__price $ 40 500
						a.btn(href="#") Оставить запрос
				<!-- tabs -->
				.tabs-wrap
					ul.tabs
						li.is-active
							a(href="#") Описание
						li
							a(href="#") Дизайн
						li
							a(href="#") Характеристики
						li
							a(href="#") Технологии
				.tabs-list
					.tabs-list__text.js-tabs-text Описание
					ul.tabs
						li.is-active
							a(href="#") Описание
						li
							a(href="#") Дизайн
						li
							a(href="#") Характеристики
						li
							a(href="#") Технологии
				<!-- tabs content -->
				.ajax-content
					.text-cols
						p Седан среднего класса BMW 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (BMW E90). Колесная база увеличилась на 50 мм,а объем багажника — на 50 литров. При этом абсолютно все модификации модели стали легче по сравнению с Е90. 
						p Седан среднего класса BMW 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (BMW E90). Колесная база увеличилась на 50 мм,а объем багажника — на 50 литров. При этом абсолютно все модификации модели стали легче по сравнению с Е90.
				<!-- tabs -->
				.tabs-wrap
					ul.tabs
						li
							a(href="#") Описание
						li.is-active
							a(href="#") Дизайн
						li
							a(href="#") Характеристики
						li
							a(href="#") Технологии
				.tabs-list
					.tabs-list__text.js-tabs-text Дизайн
					ul.tabs
						li
							a(href="#") Описание
						li.is-active
							a(href="#") Дизайн
						li
							a(href="#") Характеристики
						li
							a(href="#") Технологии
				ul.tabs-cat
					li.is-active
						a(href="#") Фото
					li
						a(href="#") Видео 
				ul.tabs-link
					li.is-active
						a(href="#") Все                                   
					li
						a(href="#") Салон
					li
						a(href="#") Экстерьер
					li
						a(href="#") Детали
				.select.select_blue.select_tab
					select.js-select-single
						option(value="Все") Все
						option(value="Салон") Салон
						option(value="Экстерьер") Экстерьер
						option(value="Детали") Детали
				<!-- tabs content -->
				.ajax-content
					.gallery
						.slider
							.slider__list.js-slick
								.slider__item
									img(src="img/slider-item2.jpg", alt="")
								.slider__item
									img(src="img/slider-item2.jpg", alt="")
								.slider__item
									img(src="img/slider-item2.jpg", alt="")
								.slider__item
									img(src="img/slider-item2.jpg", alt="")
								.slider__item
									img(src="img/slider-item2.jpg", alt="")
						span Приборная панель BMW отличается эргономичностью и максимальной информативностью всех расположенных на ней приборов. Практически все последние модели БМВ оснащаются спидометрами, которые оцифруются как милями, так и километрами.
				<!-- tabs -->
				.tabs-wrap
					ul.tabs
						li
							a(href="#") Описание
						li
							a(href="#") Дизайн
						li.is-active
							a(href="#") Характеристики
						li
							a(href="#") Технологии
				.tabs-list
					.tabs-list__text.js-tabs-text Характеристики
					ul.tabs
						li
							a(href="#") Описание
						li
							a(href="#") Дизайн
						li.is-active
							a(href="#") Характеристики
						li
							a(href="#") Технологии
				<!-- tabs content -->
				.ajax-content
					.wrap
						ul.char
							li.char__item
								.char__img
									img(src="img/char1.png", alt="img")
								.char__info
									| Двигатель
									span 2,2 литра, дизель
							li.char__item
								.char__img
									img(src="img/char2.png", alt="img")
								.char__info
									| Мощность
									span 136 л.с., 100 kw
							li.char__item
								.char__img
									img(src="img/char3.png", alt="img")
								.char__info
									| Коробка передач
									span 8 стул. АКПП Triptronic
							li.char__item
								.char__img
									img(src="img/char4.png", alt="img")
								.char__info
									| Тип привода
									span Задний
							li.char__item
								.char__img
									img(src="img/char5.png", alt="img")
								.char__info
									| Разгон 0-100 км/ч
									span 7 секунд
							li.char__item
								.char__img
									img(src="img/char6.png", alt="img")
								.char__info
									| Цвет
									span Синий металлик
						ul.char
							li.char__item
								.char__img
									img(src="img/char7.png", alt="img")
								.char__info
									| Максимальная скорость
									span 260 км/ч
							li.char__item
								.char__img
									img(src="img/char8.png", alt="img")
								.char__info
									| Расход топлива
									span 9 город / 5 трасса / 11 смешанный
							li.char__item
								.char__img
									img(src="img/char9.png", alt="img")
								.char__info
									| Количество мест
									span 4 пассажира
							li.char__item
								.char__img
									img(src="img/char10.png", alt="img")
								.char__info
									| Багаж
									span 200 литров
							li.char__item
								.char__img
									img(src="img/char11.png", alt="img")
								.char__info
									| Гарантия
									span 6 лет
							li.char__item
								.char__img
									img(src="img/char12.png", alt="img")
								.char__info
									| Салон
									span Кожа Sensatec Black
					a.btn-link.btn-link_small.js-toggle-btn(href="#", data-toggle="js-toggle-table", data-text="Скрыть") Показать
					.table-info-wrap.js-toggle-table
						.table-info
							table
								thead
									tr
										th(colspan="2") Общая информация
								tbody
									tr
										td Страна марки
										td Германия
									tr
										td Сборка модели
										td Германия, Россия
									tr
										td Класс автомобиля
										td D
									tr
										td Количество дверей
										td 4
						.table-info
							table
								thead
									tr
										th(colspan="2") Трансмиссия
								tbody
									tr
										td Коробка передач
										td автомат
									tr
										td Количество передач
										td 8
									tr
										td Тип привода
										td полный
						.table-info
							table
								thead
									tr
										th(colspan="2") Эксплуатационные показатели
								tbody
									tr
										td Максимальная скорость, км/ч
										td Германия
									tr
										td Разгон до 100 км/ч, с
										td Германия, Россия
									tr
										td Расход топлива, л город / трасса / смешанный
										td D
									tr
										td Марка топлива
										td 4
									tr
										td Экологический класс
										td 4
									tr
										td Выбросы CO2, г/км
										td 4
						.table-info
							table
								thead
									tr
										th(colspan="2") Размеры в мм
								tbody
									tr
										td Длина
										td 4624
									tr
										td Ширина
										td 1811
									tr
										td Высота
										td 1413
									tr
										td Колесная база
										td 2810
									tr
										td Клиренс
										td 145
									tr
										td Ширина передней колеи
										td 1543
									tr
										td Ширина задней колеи
										td 1583
									tr
										td Размер колес
										td 205 / 60 / R16
						.table-info
							table
								thead
									tr
										th(colspan="2") Трансмиссия
								tbody
									tr
										td Коробка передач
										td автомат
									tr
										td Количество передач
										td 8
									tr
										td Тип привода
										td полный
				<!-- tabs -->
				.tabs-wrap
					ul.tabs
						li
							a(href="#") Описание
						li
							a(href="#") Дизайн
						li
							a(href="#") Характеристики
						li.is-active
							a(href="#") Технологии
				.tabs-list
					.tabs-list__text.js-tabs-text Дизайн
					ul.tabs
						li
							a(href="#") Описание
						li
							a(href="#") Дизайн
						li
							a(href="#") Характеристики
						li.is-active
							a(href="#") Технологии
				ul.tabs-cat
					li.is-active
						a(href="#") Безопасность
					li
						a(href="#") Комфорт
					li
						a(href="#") Обзор
					li
						a(href="#") Салон
					li
						a(href="#") Мультимедиа
					li
						a(href="#") Защита от угона
					li
						a(href="#") Экстерьер
				ul.tabs-link
					li
						a(href="#") ABS                                   
					li
						a(href="#") ESP
					li
						a(href="#") Isofix / LATCH
					li.is-active
						a(href="#") Подушка безопасности
					li
						a(href="#") Система помощи при старте в гору
                                       
				<!-- tabs content -->
				.ajax-content
					.article.article_smallfont.article_no-padding
						.article__in
							img(src="http://placehold.it/525x278", alt="img", align="left")
							p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. 
							p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей машин. Захватывающий дух динамики.
							p Впечатляющая техника и потрясающий дизайн выделяет данную серию автомобилей BMW среди остальных машин. 
							p BMW 3 серии несомненно является победителем среди других моделей машин. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн. BMW 3 серии седан несомненно является победителем среди других моделей. Захватывающий дух динамики, впечатляющая техника и потрясающий дизайн.
			.push 
		include _footer.jade 


