doctype
html
	head
		include _head.jade
	body
		.out 
			header.header
				.header__top
					a.header__logo(href="#")
					.menu.js-menu
						.menu__item 
							i.icon-user
							| Личный кабинет
						ul.menu__list
							li
								a(href="#") Запросы
							li
								a(href="#") Избранные авто
							li
								a(href="#") История просмотров
							li
								a(href="#") История сравнений
							li
								a(href="#") Личные данные
							li
								a(href="#") Рассылка

					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
						a(href="#") Фильтр
					h1.page-title Сравнение автомобилей
				.header__bottom
					.header__center
						ul.tab-pills
							li.is-active
								a(href="#") Диаграмма
							li
								a(href="#") Таблица
				include _nav.jade
			.compare-head.js-compare-head
				.compare-head__in
					.car
						.car__img
							a(href="#")
								img(src="img/car.png", alt="img")
						a.car__info(href="#")		
							.car__model 
								strong BMW 
								| 320d xDrive 
							.car__detail Modern Line
						i.dot-color.is-violet
						button.btn-del(type="button")
					.car
						.car__img
							a(href="#")
								img(src="img/car.png", alt="img")
						a.car__info(href="#")		
							.car__model 
								strong BMW 
								| 320d xDrive 
							.car__detail Modern Line
						i.dot-color.is-green
						button.btn-del(type="button")
					.car
						.car__img
							a(href="#")
								img(src="img/car.png", alt="img")
						a.car__info(href="#")		
							.car__model 
								strong BMW 
								| 320d xDrive 
						i.dot-color.is-yellow
						button.btn-del(type="button")
					.car
						.car__img
							a(href="#")
								img(src="img/car.png", alt="img")
						a.car__info(href="#")		
							.car__model 
								strong BMW 
								| 320d xDrive 
							.car__detail Modern Line
						i.dot-color.is-red
						button.btn-del(type="button")
					.car
						.car__img
							a(href="#")
								img(src="img/car.png", alt="img")
						a.car__info(href="#")		
							.car__model 
								strong BMW 
								| 320d xDrive 
						i.dot-color.is-blue
						button.btn-del(type="button")
			.comparison
				.comparison__section
					.comparison__title Стоимость
					.circle
						svg.circle__in.is-violet(height="250px",width="250px")
							circle(r="122", cx="125", cy="125",stroke-width="2px", fill="none")
							animate(attributeName="r", from="0", to="100", dur="3s")
						ul.labels
							li
								i.dot-color.is-violet
								| $ 125 000
							li
								i.dot-color.is-green
								| $ 125 000
							li
								i.dot-color.is-yellow
								| $ 125 000
							li
								i.dot-color.is-red
								| $ 125 000
							li
								i.dot-color.is-blue
								| $ 125 000
				.comparison__section
					.comparison__title Мощность
					.circle
						svg.circle__in.is-violet(height="164px",width="164px")
							circle(r="80", cx="82", cy="82",stroke-width="2px", fill="none")
							animate(attributeName="r", from="0", to="100", dur="3s")
						.circle__info
							.circle__in
								.circle__title 136 
									sub л.с.
								| 100 kw
					.circle
						svg.circle__in.is-green(height="164px",width="164px")
							circle(r="80", cx="82", cy="82",stroke-width="2px", fill="none")
							animate(attributeName="r", from="0", to="100", dur="3s")
						.circle__info
							.circle__in
								.circle__title 136 
									sub л.с.
								| 100 kw
					.circle
						svg.circle__in.is-yellow(height="164px",width="164px")
							circle(r="80", cx="82", cy="82",stroke-width="2px", fill="none")
							animate(attributeName="r", from="0", to="100", dur="3s")
						.circle__info
							.circle__in
								.circle__title 136 
									sub л.с.
								| 100 kw
					.circle
						svg.circle__in.is-red(height="164px",width="164px")
							circle(r="80", cx="82", cy="82",stroke-width="2px", fill="none")
							animate(attributeName="r", from="0", to="100", dur="3s")
						.circle__info
							.circle__in
								.circle__title 136 
									sub л.с.
								| 100 kw
					.circle
						svg.circle__in.is-blue(height="164px",width="164px")
							circle(r="80", cx="82", cy="82",stroke-width="2px", fill="none")
							animate(attributeName="r", from="0", to="100", dur="3s")
						.circle__info
							.circle__in
								.circle__title 136 
									sub л.с.
								| 100 kw
				.comparison__section
					.comparison__title Объем двигателя
					svg(width="202",height="202")
						polygon(points="150,100 300,0 150,0" style="fill:none;stroke:purple;stroke-width:1")
				.comparison__section
					.comparison__title Разгон до 100 км/ч (с)
				.comparison__section
					.comparison__title Максимальная скорость
				.comparison__section
					.comparison__title Коробка передач
				.comparison__section
					.comparison__title Тип привода
				.comparison__section
					.comparison__title Расход топлива (л)
				.comparison__section
					.comparison__title Количество мест
				.comparison__section
					.comparison__title Багаж
			.push 
		include _footer.jade 


