doctype
html
	head
		include _head.jade
	body
		.out
			include _header.jade
			.search
				.l-center
					.search__label
						label
							input.search__keyword.input
							i.search__icon
							button.search__delete.js-not
						ul
							li 
								a(href="#").pills.is-active автомобили
							li
								a(href="#").pills сайт
					p.search__text По вашему запросу 
						a(href="#") BMW
						|  ” найдено  25 результатов.
			.search-row
				ul.box-wrap
					li.box
						a(href="#")
							.box__img
								img(src="img/item/bmw-xseries-hatchback.png", alt="")
							.box__info
								p
									span 
										span BMW 
										| 328i 
									| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
								span.box__small Кроссовер, 2014–2015
								.box__bottom
									span.box__small В наличии
									span.box__price $ 65 414
					li.box
						a(href="#")
							.box__img
								img(src="img/item/bmw-xseries-hatchback.png", alt="")
							.box__info
								p
									span 
										span BMW 
										| 328i 
									| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
								span.box__small Кроссовер, 2014–2015
								.box__bottom
									span.box__small В наличии
									span.box__price $ 65 414
					li.box
						a(href="#")
							.box__img
								img(src="img/item/bmw-xseries-hatchback.png", alt="")
							.box__info
								p
									span 
										span BMW 
										| 328i 
									| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
								span.box__small Кроссовер, 2014–2015
								.box__bottom
									span.box__small В наличии
									span.box__price $ 65 414
					li.box
						a(href="#")
							.box__img
								img(src="img/item/bmw-xseries-hatchback.png", alt="")
							.box__info
								p
									span 
										span BMW 
										| 328i 
									| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
								span.box__small Кроссовер, 2014–2015
								.box__bottom
									span.box__small В наличии
									span.box__price $ 65 414
				ul.box-wrap
					li.box
						a(href="#")
							.box__img
								img(src="img/item/bmw-xseries-hatchback.png", alt="")
							.box__info
								p
									span 
										span BMW 
										| 328i 
									| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
								span.box__small Кроссовер, 2014–2015
								.box__bottom
									span.box__small В наличии
									span.box__price $ 65 414
					li.box
						a(href="#")
							.box__img
								img(src="img/item/bmw-xseries-hatchback.png", alt="")
							.box__info
								p
									span 
										span BMW 
										| 328i 
									| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
								span.box__small Кроссовер, 2014–2015
								.box__bottom
									span.box__small В наличии
									span.box__price $ 65 414
					li.box
						a(href="#")
							.box__img
								img(src="img/item/bmw-xseries-hatchback.png", alt="")
							.box__info
								p
									span 
										span BMW 
										| 328i 
									| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
								span.box__small Кроссовер, 2014–2015
								.box__bottom
									span.box__small В наличии
									span.box__price $ 65 414
					li.box
						a(href="#")
							.box__img
								img(src="img/item/bmw-xseries-hatchback.png", alt="")
							.box__info
								p
									span 
										span BMW 
										| 328i 
									| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
								span.box__small Кроссовер, 2014–2015
								.box__bottom
									span.box__small В наличии
									span.box__price $ 65 414
			.preloader
				img(src="img/preloader.png", alt="")
			.push 
		include _footer.jade 


