doctype
html
	head
		include _head.jade
	body
		.out
			include _header.jade
			.search
				.l-center
					.search__label
						div
							input.search__keyword.input
							i.search__icon
							button.search__delete.js-not
						ul
							li 
								a(href="#").pills автомобили
							li
								a(href="#").pills.is-active сайт
					p.search__text По вашему запросу “ 
						a(href="#") BMW
						|  ” найдено  6 результатов.
			ul.post-wrap
				li.post
					a(href="#").post__title 
						span BMW 
						| 3 series
					p Седан среднего класса 
						span BMW 
						| 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
						span BMW 
						| E90). Колесная база увеличилась на 50 мм,а объем... 
					span.post__small BMW 3 series /
				li.post
					a(href="#").post__title 
						span BMW 
						| 1 series
					p Седан среднего класса 
						span BMW 
						| 1-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
						span BMW 
						| E90). Колесная база увеличилась на 50 мм,а объем... 
					span.post__small BMW 1 series /
				li.post
					a(href="#").post__title 
						span BMW 
						| 6 series
					p Седан среднего класса 
						span BMW 
						| 6-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
						span BMW 
						| E90). Колесная база увеличилась на 50 мм,а объем... 
					span.post__small BMW 6 series /
				li.post
					a(href="#").post__title Не управлять, а править. Новый BMW X5
					p Новый 
						span BMW 
						| X5 в очередной раз задает еще более высокий уровень стандартов в сегменте SUV, предлагая выдающееся качество и комфорт во всех сферах, к которым предъявляются наивысшие требования. Широкий... 
					span.post__small Новости официальных дилеров /
				li.post
					a(href="#").post__title Открылся новый салон BMW  в Гомеле
					p Сегодня прошло торжественное открытие автосалона 
						span BMW 
						| Брайнкрафт в городе Минске. На открытии присутствовало множество знатных персон минского бомонда...
					span.post__small Новости индустрии /
				li.post
					a(href="#").post__title Не управлять, а править. Новый BMW X5
					p Новый 
						span BMW 
						| X5 в очередной раз задает еще более высокий уровень стандартов в сегменте SUV, предлагая выдающееся качество и комфорт во всех сферах, к которым предъявляются наивысшие требования. Широкий...
					span.post__small Новости официальных дилеров /

			.push 
		include _footer.jade 


