doctype
html
	head
		include _head.jade
		title 13-0vopros
		.out
			include _header.jade
			.l-center
				.questions.to-center
					h3.title Возникли вопросы?
					p Мы рады предложить вам перечень часто задаваемых вопросов.
					p Здесь вы найдете все, что искали.
				.accordion.js-accordion
						.accordion__title.js-accordion-title Что я получу, работая с Superdeal, как партнер?
						.accordion__body.js-accordion-body
							p Появилась мысль, что будет здорово предоставить такую же возмож- ность в виртуальном измерении, сохранив нейтральность предос- тавляемой информации, не придавая ей какой-либо эмоциональной окраски. Основной проблемой в предоставлении данных стала и актуальность, ведь невозможно проследить наличие автомобиля у дилеров без ежеминутного мониторигна складов. 
			.push
		include _footer.jade 


