doctype
html
	head
		include _head.jade
	body
		.out
			include _header_cabinet.jade
			.l-center
				.tabs-content.js-tabs-content(data-id="#js-tab1")
					p  1Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				.tabs-content.js-tabs-content(data-id="#js-tab2")
					p  2Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				.tabs-content.js-tabs-content(data-id="#js-tab3")
					.comp-wrap
						h2.title История сравнений
						p.comp-text Здесь вы можете найти всю историю ваших сравнений. Мы сделали это для вашего удобства. 
						ul
							li.comp
								.comp__left
									span.comp__date 18.10.14
									a(href="#").comp__delete
								.comp__right
									a(href="#").btn-link Посмотреть
								.comp__center
									ul
										li.is-green
											a(href="#") 
												span BMW
												|  320d xDrive Modern Line  
											| 2.0 AT (220л.с.) дизель 
										li.is-yellow
											a(href="#") 
												span Mercedes-Benz 
												| SL 63 AMG 
											| 2.0 AT (220л.с.) дизель 
										li.is-purple
											a(href="#") 
												span BMW 
												| 328i  
											| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП
							li.comp
								.comp__left
									span.comp__date 10.08.14
									a(href="#").comp__delete
								.comp__right
									a(href="#").btn-link Посмотреть
								.comp__center
									ul
										li.is-green
											a(href="#") 
												span BMW
												|  320d xDrive Modern Line 
											| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП
										li.is-yellow
											a(href="#") 
												span Mercedes-Benz  
												| SL 63 AMG 
											| 2.0 AT (220л.с.) дизель 
				.tabs-content.js-tabs-content(data-id="#js-tab4")
					p  4Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				.tabs-content.js-tabs-content(data-id="#js-tab5")
					p  5Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				.tabs-content.js-tabs-content(data-id="#js-tab6")
					p  6Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			.push 
		include _footer.jade 


