doctype
html
	head
		include _head.jade
	body
		.out
			include _header_cabinet.jade
			.l-center
				.tabs-content.js-tabs-content(data-id="#js-tab1")
					p  1Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				.tabs-content.js-tabs-content(data-id="#js-tab4")
					.comp-wrap
						h2.title История сравнений
						p.comp-text Здесь вы можете найти всю историю ваших сравнений. Мы сделали это для вашего удобства. 
						ul
							li.comp
								.comp__left
									span.comp__date 18.10.14
									a(href="#").comp__delete
								.comp__right
									a(href="#").btn-link Посмотреть
								.comp__center
									ul
										li.is-green
											a(href="#") 
												span BMW
												|  320d xDrive Modern Line  
											| 2.0 AT (220л.с.) дизель 
										li.is-yellow
											a(href="#") 
												span Mercedes-Benz 
												| SL 63 AMG 
											| 2.0 AT (220л.с.) дизель 
										li.is-purple
											a(href="#") 
												span BMW 
												| 328i  
											| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП
							li.comp
								.comp__left
									span.comp__date 10.08.14
									a(href="#").comp__delete
								.comp__right
									a(href="#").btn-link Посмотреть
								.comp__center
									ul
										li.is-green
											a(href="#") 
												span BMW
												|  320d xDrive Modern Line 
											| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП
										li.is-yellow
											a(href="#") 
												span Mercedes-Benz  
												| SL 63 AMG 
											| 2.0 AT (220л.с.) дизель 
				.tabs-content.js-tabs-content(data-id="#js-tab5")
					p  5Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				.tabs-content.js-tabs-content(data-id="#js-tab6")
					p  6Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			.tabs-content.js-tabs-content(data-id="#js-tab2")
				.comp-wrap.is-box
					h2.title Избранные автомобили
					p.comp-text Для вашего максимального комфорта, все автомобили отмеченные как избранные, хранятся здесь.
					ul.box-wrap.is-favorites
						li.box
							button.compare__favorites 
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
						li.box
							button.compare__favorites 
							a(href="#")
								.box__img
									span.sticker акция
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
						li.box
							button.compare__favorites  
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
						li.box
							button.compare__favorites  
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
					ul.box-wrap.is-favorites
						li.box
							button.compare__favorites 
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
						li.box
							button.compare__favorites
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small.is-yellow Под заказ
										span.box__price $ --
			.tabs-content.js-tabs-content(data-id="#js-tab3")
				.comp-wrap.is-box
					h2.title История просмотров
					p.comp-text Для вашего удобства, мы сохраняем здесь историю просмотренных вами автомобилей.
					ul.box-wrap
						li.box
							.compare
								button.compare__favorites 
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
						li.box
							.compare
								button.compare__favorites 
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
						li.box
							.compare
								button.compare__favorites  
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
						li.box
							.compare
								button.compare__favorites  
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small.is-yellow Под заказ
										span.box__price $ --
					ul.box-wrap
						li.box
							.compare
								button.compare__favorites 
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
						li.box
							.compare
								button.compare__favorites 
							a(href="#")
								.box__img
									img(src="img/item/bmw-xseries-hatchback.png", alt="")
								.box__info
									p
										span 
											span BMW 
											| 328i 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП  
									span.box__small Кроссовер, 2014–2015
									.box__bottom
										span.box__small В наличии
										span.box__price $ 65 414
			.push 
		include _footer.jade 


