doctype
html
	head
		include _head.jade
	body
		.out
			header.header
				.header__top
					a.header__logo(href="#")
					.menu.js-menu
						.menu__item 
							i.icon-user
							|Личный кабинет
						ul.menu__list
							li
								a(href="#") Запросы
							li
								a(href="#") Избранные авто
							li
								a(href="#") История просмотров
							li
								a(href="#") История сравнений
							li
								a(href="#") Личные данные
							li
								a(href="#") Рассылка
					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
					h1.page-title Личный кабинет
				.header__bottom
					.tabs-icon
						.tabs-icon__item.js-open-list История просмотров
						ul.tabs-icon__list
							li
								a(href="#")
									i.icon-tab1
									span Запросы
							li
								a(href="#")
									i.icon-tab2
									span Избранные автомобили
							li
								a(href="#")
									i.icon-tab3
									span История просмотров
							li
								a(href="#")
									i.icon-tab4
									span История сравнений
							li.is-active
								a(href="#")
									i.icon-tab5
									span Личные данные
							li
								a(href="#")
									i.icon-tab6
									span Рассылка
				include _nav.jade
			.comp-wrap.is-box
				h2.title Ваши личные данные
				p.comp-text Заполните информацию ниже, чтобы получить максимальный комфорт от использования нашего сервиса.
				form.form.js-validate
					.form__inner
						label.form__input
							input(placeholder="Имя", type="text", name="firstname", required).input.input_mod
						label.form__input
							input(placeholder="Фамилия", type="text", name="lastname", required).input.input_mod
						label.form__input
							input(placeholder="E-mail", type="email", name="email", required).input.input_mod
						label.form__input
							input(placeholder="Мобильный телефон", type="tel", name="tel", required).input.input_mod
						label.radio
							input(type="radio", name="radio", required)
							span.radio__title Женщина
						label.radio
							input(type="radio", name="radio", required)
							span.radio__title Мужчина
						label.form__input
							input(placeholder="Возраст", type="text").input.input_mod
						label.form__input
							textarea(placeholder="Ваши предпочтения в автомобилях")
						label.form__input
							input(type="password", name="password", placeholder="Введите пароль" required).input.input_mod
						label.form__input
							input(type="password", name="confirm_password", placeholder="Введите пароль еще раз" required5).input.input_mod
					button.btn(type="submit") Полписаться
			.push 
		include _footer.jade 