doctype
html
	head
		include _head.jade
	body
		.out
			header.header
				.header__top
					a.header__logo(href="#")
					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
					h1.page-title Личный кабинет
				.header__bottom
					.tabs-icon
						.tabs-icon__item.js-open-list История просмотров
						ul.tabs-icon__list
							li
								a(href="#")
									i.icon-tab1
									span Запросы
							li
								a(href="#")
									i.icon-tab2
									span Избранные автомобили
							li.is-active
								a(href="#")
									i.icon-tab3
									span История просмотров
							li
								a(href="#")
									i.icon-tab4
									span История сравнений
							li
								a(href="#")
									i.icon-tab5
									span Личные данные
							li
								a(href="#")
									i.icon-tab6
									span Рассылка
				include _nav.jade
			.l-center
				.comp-wrap
					h2.title История сравнений
					p.comp-text Здесь вы можете найти всю историю ваших сравнений. Мы сделали это для вашего удобства.
					ul
						li.comp
							.comp__left
								span.comp__date 18.10.14
								a(href="#").comp__delete
							.comp__right
								a(href="#").btn-link Посмотреть
							.comp__center
								ul
									li.is-green
										a(href="#") 
											span BMW
											|  320d xDrive Modern Line  
										| 2.0 AT (220л.с.) дизель 
									li.is-yellow
										a(href="#") 
											span Mercedes-Benz 
											| SL 63 AMG 
										| 2.0 AT (220л.с.) дизель 
									li.is-purple
										a(href="#") 
											span BMW 
											| 328i  
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП
						li.comp
							.comp__left
								span.comp__date 10.08.14
								a(href="#").comp__delete
							.comp__right
								a(href="#").btn-link Посмотреть
							.comp__center
								ul
									li.is-green
										a(href="#") 
											span BMW
											|  320d xDrive Modern Line 
										| 2.0 AT (220л.с.) дизель, полный привод, 6 МКП
									li.is-yellow
										a(href="#") 
											span Mercedes-Benz  
											| SL 63 AMG 
										| 2.0 AT (220л.с.) дизель 
			.push 
		include _footer.jade 


