doctype
html
	head
		include _head.jade
	body
		.out
			include _header.jade
			.request-top
				.l-center
					h2.title Мои запросы
					ul
						li
							a(href="#") Все
								sup 6
						li
							a(href="#") Избранное
								sup 8
						li
							a(href="#") Отмененные
								sup 8
						li
							a(href="#") Принятые
								sup 6
					.request-top__search
						div
							input(placeholder="Поиск по сообщениям").request-top__keyword.input
							i.request-top__icon
							button.request-top__delete.js-not
			.request
				.l-center
					.request__right
						span.request__info 25 сообщений, последнее: 01.05.14, 
							span.request__time 15:41
						a(href="#").request__link Новое сообщение
					.request__left
						img(src="img/item/bmw-5series-hatchback2.png", alt="")
					.request__center
						span.request__title Сергей Николаев, Мультимоторс
						p.request__text 
							a(href="#")
								span 5 запросов, последний: 
								| BMW 320d xDrive Modern Line  2.0 AT (220л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 44 500
			.request
				.l-center
					.request__right
						span.request__info 25 сообщений, последнее: 01.05.14, 
							span.request__time 15:41
						a(href="#").request__link Новое сообщение
					.request__left
						img(src="img/item/bmw-5series-hatchback2.png", alt="")
					.request__center
						span.request__title Сергей Николаев, Мультимоторс
						p.request__text 
							a(href="#")
								span 5 запросов, последний: 
								| BMW 320d xDrive Modern Line  2.0 AT (220л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 44 500
			.request
				.l-center
					.request__right
						span.request__info 25 сообщений, последнее: 01.05.14, 
							span.request__time 15:41
						a(href="#").request__link Новое сообщение
					.request__left
						img(src="img/item/bmw-5series-hatchback2.png", alt="")
					.request__center
						span.request__title Сергей Николаев, Мультимоторс
						p.request__text 
							a(href="#")
								span 5 запросов, последний: 
								| BMW 320d xDrive Modern Line  2.0 AT (220л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 44 500
			.request
				.l-center
					.request__right
						span.request__info 25 сообщений, последнее: 01.05.14, 
							span.request__time 15:41
						a(href="#").request__link Новое сообщение
					.request__left
						img(src="img/item/bmw-5series-hatchback2.png", alt="")
					.request__center
						span.request__title Сергей Николаев, Мультимоторс
						p.request__text 
							a(href="#")
								span 5 запросов, последний: 
								| BMW 320d xDrive Modern Line  2.0 AT (220л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 44 500
			.preloader
				img(src="img/preloader.png", alt="")
			.push 
		include _footer.jade 


