doctype
html
	head
		include _head.jade
	body
		.out
			include _header.jade
			.l-center
				.messages
					h2.title Диалог с дилером Мультимоторс
				.message
					.message__left
						a(href="#")
							img(src="img/item/bmw-5series-hatchback2.png", alt="")
					.message__right
						span.message__date 01.05.14,
							span.message__time 12:00
						.message__info
							span.message__title 5 запросов, последний:
							a(href="#").message__link BMW 320d xDrive Modern Line  2.0 AT (220л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 44 500
							a(href="#").confirm Запрос подтвержден
						.message__box
							textarea(placeholder="Введите ваше сообщение...")
							.message__buttons
								a(href="#").cancel Отменить запрос
								a(href="#").confirm Подтвердить и завершить запрос
							button.btn-link Отправить
						.comment
							.comment__right
								span.message__date 01.05.14,
									span.message__time 15:41
							.comment__left
								.comment__name Дмитрий Бабкин, 
									a(href="#") Мультимоторс
								p Я звонил Вам несколько раз по оставленному вами номеру: +375 29 361 55 97. Проверьте пожалуйста, правильно ли вы указали номер телефона при регистрации на сайте. С уважение, Дмитрий. 
						.comment
							.comment__right
								span.message__date 01.05.14,
									span.message__time 15:41
							.comment__left
								.comment__my Я
								p Я звонил Вам несколько раз по оставленному вами номеру: +375 29 361 55 97. Проверьте пожалуйста, правильно ли вы указали номер телефона при регистрации на сайте. С уважение, Дмитрий. 
						.comment
							.comment__right
								span.message__date 01.05.14,
									span.message__time 15:41
							.comment__left
								.comment__name Дмитрий Бабкин, 
									a(href="#") Мультимоторс
								p Я звонил Вам несколько раз по оставленному вами номеру: +375 29 361 55 97. Проверьте пожалуйста, правильно ли вы указали номер телефона при регистрации на сайте. С уважение, Дмитрий. 
				.message
					.message__left
						a(href="#")
							img(src="img/item/bmw-5series-hatchback2.png", alt="")
					.message__right
						span.message__date 01.05.14,
							span.message__time 12:00
						.message__info
							span.message__title Новый запрос:
							a(href="#").message__link BMW 320d xDrive Modern Line  2.0 AT (220л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 44 500
							a(href="#").cancel Запрос отменён
			.preloader
				img(src="img/preloader.png", alt="")
			.push 
		include _footer.jade 


