doctype
html
	head
		include _head.jade
		title 4-0 vacancy
		.out
			include _header.jade
			.jobs.to-center
				.l-center
					.topic
						h3.topic__title Ты нам нужен
						.topic__text
							p Уютный офис, удобный график, увлеченные талантливые люди.
							p Возможность создавать, экспериментировать, продавать.
							p Меняй мир вокруг, оставаясь в родном городе.
				.jobs__accordion
					.accordion
							.accordion__title.js-accordion-title
								span Что делать, если менеджер не отвечает?
							.accordion__body.js-accordion-body
								p Появилась мысль, что будет здорово предоставить такую же возмож- ность в виртуальном измерении, сохранив нейтральность предос- тавляемой информации, не придавая ей какой-либо эмоциональной окраски. Основной проблемой в предоставлении данных стала и актуальность, ведь невозможно проследить наличие автомобиля у дилеров без ежеминутного мониторигна складов. 
					.accordion.js-accordion
							.accordion__title.js-accordion-title
								span Я купил у вас авто, но мне не нравится оно?
							.accordion__body.js-accordion-body
								p Появилась мысль, что будет здорово предоставить такую же возмож- ность в виртуальном измерении, сохранив нейтральность предос- тавляемой информации, не придавая ей какой-либо эмоциональной окраски. Основной проблемой в предоставлении данных стала и актуальность, ведь невозможно проследить наличие автомобиля у дилеров без ежеминутного мониторигна складов. 
					.accordion.js-accordion
							.accordion__title.js-accordion-title
								span Хочу поощрить работу менеджера, каким образом я могу сделать это?
							.accordion__body.js-accordion-body
								p Появилась мысль, что будет здорово предоставить такую же возмож- ность в виртуальном измерении, сохранив нейтральность предос- тавляемой информации, не придавая ей какой-либо эмоциональной окраски. Основной проблемой в предоставлении данных стала и актуальность, ведь невозможно проследить наличие автомобиля у дилеров без ежеминутного мониторигна складов. 
					.accordion.js-accordion
							.accordion__title.js-accordion-title
								span Что делать, если менеджер не отвечает?
							.accordion__body.js-accordion-body
								p Появилась мысль, что будет здорово предоставить такую же возмож- ность в виртуальном измерении, сохранив нейтральность предос- тавляемой информации, не придавая ей какой-либо эмоциональной окраски. Основной проблемой в предоставлении данных стала и актуальность, ведь невозможно проследить наличие автомобиля у дилеров без ежеминутного мониторигна складов. 
					.accordion.js-accordion
							.accordion__title.js-accordion-title
								span Я купил у вас авто, но мне не нравится оно?
							.accordion__body.js-accordion-body
								p Появилась мысль, что будет здорово предоставить такую же возмож- ность в виртуальном измерении, сохранив нейтральность предос- тавляемой информации, не придавая ей какой-либо эмоциональной окраски. Основной проблемой в предоставлении данных стала и актуальность, ведь невозможно проследить наличие автомобиля у дилеров без ежеминутного мониторигна складов. 
					.accordion.js-accordion
							.accordion__title.js-accordion-title
								span Хочу поощрить работу менеджера, каким образом я могу сделать это?
							.accordion__body.js-accordion-body
								p Появилась мысль, что будет здорово предоставить такую же возмож- ность в виртуальном измерении, сохранив нейтральность предос- тавляемой информации, не придавая ей какой-либо эмоциональной окраски. Основной проблемой в предоставлении данных стала и актуальность, ведь невозможно проследить наличие автомобиля у дилеров без ежеминутного мониторигна складов. 
			.push
		include _footer.jade 


