doctype
html
	head
		include _head.jade
		title 4-0 vacancy
		.out
			header.header
				.header__top
					a.header__logo(href="#")
					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
					h1.page-title Вакансии
				include _nav.jade
			.jobs.to-center
				.l-center
					.topic
						h3.topic__title Ты нам нужен
						.topic__text
							p Уютный офис, удобный график, увлеченные талантливые люди.
							p Возможность создавать, экспериментировать, продавать.
							p Меняй мир вокруг, оставаясь в родном городе.
				.jobs__accordion
					.accordion.js-accordion
						.accordion__title.js-accordion-title
							span Гуру-программист в качестве технического руководителя
						.accordion__body.js-accordion-body
							.accordion__title-in Вакансия: дизайнер-иллюстратор
							p Нам всегда нужен человек с опытом дизайна сайтов и пониманием их дальнейшей верстки. Друг, любящий контент и сведущий в трендах web-дизайна. Герой, готовый неустанно расти профессионально. Для тебя у нас найдутся интересные сложные задачи, лучшая команда Дилер Холл, увлекательные мозговые штурмы, незабываемые впечатления и новые друзья.
							button.btn Откликнуться на вакансию
					.accordion.js-accordion
						.accordion__title.js-accordion-title
							span цифровой художник на должность дизайнера
						.accordion__body.js-accordion-body
							.accordion__title-in Вакансия: дизайнер-иллюстратор
							p Нам всегда нужен человек с опытом дизайна сайтов и пониманием их дальнейшей верстки. Друг, любящий контент и сведущий в трендах web-дизайна. Герой, готовый неустанно расти профессионально. Для тебя у нас найдутся интересные сложные задачи, лучшая команда Дилер Холл, увлекательные мозговые штурмы, незабываемые впечатления и новые друзья.
							button.btn Откликнуться на вакансию
					.accordion.js-accordion
						.accordion__title.js-accordion-title
							span дикий дерзский как пуля резкий контент-менеджер
						.accordion__body.js-accordion-body
							.accordion__title-in Вакансия: дизайнер-иллюстратор
							p Нам всегда нужен человек с опытом дизайна сайтов и пониманием их дальнейшей верстки. Друг, любящий контент и сведущий в трендах web-дизайна. Герой, готовый неустанно расти профессионально. Для тебя у нас найдутся интересные сложные задачи, лучшая команда Дилер Холл, увлекательные мозговые штурмы, незабываемые впечатления и новые друзья.
							button.btn Откликнуться на вакансию
			.push
		include _footer.jade 


