doctype
html
	head
		include _head.jade
		title 5-0 news
		.out
			include _header.jade
			.news.to-center
				a.news__item(href="#")
					.meta 15 августа, 2014 / BMW Автоидея
					.news__title НЕ УПРАВЛЯТЬ, А ПРАВИТЬ. НОВЫЙ BMW X5 
					a.more(href="#") Читать подробнее
				a.news__item(href="#")
					.meta 15 августа, 2014 / BMW Автоидея
					.news__title Условия финансирования покупки BMW для физических лиц от Райффайзен-Лизинг
					a.more(href="#") Читать подробнее
				a.news__item(href="#")
					.meta 15 августа, 2014 / BMW Автоидея
					.news__title Концепт BMW M 4 Купе: подлинный BMW M
					a.more(href="#") Читать подробнее
				a.news__item(href="#")
					.meta 15 августа, 2014 / BMW Автоидея
					.news__title Новый BMW 4 серии Coupe – это начало новой эры купе в баварском концерне и венец в истории своего развития
					a.more(href="#") Читать подробнее

			.push
		include _footer.jade 


