doctype
html
	head
		include _head.jade
	body
		.out
			header.header
				.header__top
					a.header__logo(href="#")
					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
					h1.page-title Личный кабинет
				.header__bottom
					.tabs-icon
						.tabs-icon__item.js-open-list История просмотров
						ul.tabs-icon__list
							li
								a(href="#")
									i.icon-tab1
									span Запросы
							li
								a(href="#")
									i.icon-tab2
									span Избранные автомобили
							li.is-active
								a(href="#")
									i.icon-tab3
									span История просмотров
							li
								a(href="#")
									i.icon-tab4
									span История сравнений
							li
								a(href="#")
									i.icon-tab5
									span Личные данные
							li
								a(href="#")
									i.icon-tab6
									span Рассылка
				include _nav.jade
			.inner
				h2 Компания АВТОИДЕЯ, официальный дилер BMW в Республике Беларусь, приглашает в свой дилерский центр в Минске для знакомства с новым BMW X5
				article Новый BMW X5 в очередной раз задает еще более высокий уровень стандартов в сегменте SUV, предлагая выдающееся качество и комфорт во всех сферах, к которым предъявляются наивысшие требования. Широкий диапазон инновационных технологий позволяет повысить эффективность и динамику до совершенно нового уровня как на дороге, так и на бездорожье.
				section
					div
						div
							p Новый BMW X5 в очередной раз задает еще более высокий уровень стандартов в сегменте SUV, предлагая выдающееся качество и комфорт во всех сферах, к которым предъявляются наивысшие требования. Широкий диапазон инновационных технологий позволяет повысить эффективность и динамику до совершенно нового уровня как на дороге, так и на бездорожье.
						div
							p BMW X5, основатель сегмента спортивных автомобилей для активного отдыха, в третьем поколении задает новые стандарты мощной эстетики, комфорта и вместительности в сочетании с эффективностью и удовольствием за рулем. Новый BMW X5 отличается непревзойденной многофункциональностью и удовлетворяет самым высоким и разносторонним требованиям.
				hr
				blockquote Яркие ощущения от вождения нового 
					strong BMW X5 
					|  приятно дополняют эксклюзивная атмосфера с роскошным оформлением высококачественными материалами и инновационными функциями в области комфорта.  Для индивидуального оформления экстерьера и интерьера теперь доступны две линии дизайна Design Pure Experience и Design Pure Excellence, а также спортивный пакет М-стиля.
				hr
				figure
					img(src="http://placehold.it/980x500", alt="")
				hr
				h2 Когда? Где? Зачем?
				p C 21 ноября Вы можете познакомиться с новым BMW X5 в дилерском центре компании АВТОИДЕЯ. А также вы можете записаться на тест-драйв, посмотреть автомобиль в нашем салоне и, конечно же, стать счастливым обладателем новой модели BMW X5 в Минске.
				hr 
				figure
					h3 BMW Автоидея
					span официальный дилер BMW
					p Минский р-н, Д. Боровая, 7
					p
						a(href="#") www.autoidea.by
			.push 
		include _footer.jade 


