doctype
html
	head
		include _head.jade
	body
		.out
			include _header_news.jade
			.news-box-wrap
				.l-center
					ul.sorting
						li
							a(href="#") Все
						li
							a(href="#") 2014
						li
							a(href="#") 2013
						li
							a(href="#") 2012
				.news-box.news-box_big
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_big.jpg) no-repeat center center; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				.news-box.news-box_small
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_small.jpg) no-repeat 50% 100%; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				.news-box.news-box_middle
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_middle.jpg) no-repeat 20% 50%; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				.news-box.news-box_middle
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_middle.jpg) no-repeat 20% 50%; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				.news-box.news-box_small
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_small.jpg) no-repeat 50% 100%; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				.news-box.news-box_big
					a(href="#")
						.news-box__img
							div(style="background: url(img/news-box_big.jpg) no-repeat center center; background-size: cover;")
						.news-box__info
							h2.title Мы запустили новый проект! 
							p Смотрите какой клевый получился!
							span.meta 15 сентября, 2014 / События
				a(href="#").btn Подписаться на новости
				.preloader
					img(src="img/preloader.png", alt="")
			.push 
		include _footer.jade 


