doctype
html
	head
		include _head.jade
		<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
	body
		.out
			header.header.header_absolute.header_salons
				.header__top
					a.header__logo(href="#")
					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
					h1.page-title Автомобильные салоны
				.header__bottom
					.header__left
						.select.select_205
							select.js-select-single
								option(value="Сортируем по стоимости") Сортируем по стоимости
								option(value="Сортируем по дате" selected) Сортируем по дате
								option(value="Сортируем по названию") Сортируем по названию
								option(value="Сортируем по марке") Сортируем по марке
					.header__center
						.header__nav
							.header__nav-list.is-small
								a(href="#").is-active Минск
								a(href="#") Брест
								a(href="#") Могилев
								a(href="#") Гродно
							.select.col.col_252
								select.js-select-single
									option(value="Минск") Минск
									option(value="Брест") Брест
									option(value="Могилев") Могилев
									option(value="Гродно") Гродно
			.salons-map
				.ymap(id="map")
			.salons
				.salons__row
					.salons__left A 
					.salons__info
						.salons__inner
							span.salons__title Audi
							.salons__box
								a(href="#")
									span.salons__name Автосалон AV
									p г. Минск, ул. Серова, 1
									p +375 29 191-88-88
									p 
										span www.audi.by
				.salons__row
					.salons__left B
					.salons__info
						.salons__inner
							span.salons__title BMW
							.salons__box
								a(href="#")
									span.salons__name Автоидея
									p Минский р-н, Д. Боровая, 7
									p +375 17 268-58-68, +375 29 607-11-77
									p 
										span www.autoidea.by
							.salons__box
								a(href="#")
									span.salons__name Байернкрафт 
									p г. Минск, ул. Панченко, 7/17
									p +375 44 755-00-77
									p 
										span www.bayernkraft.by 
				.salons__row
					.salons__left C 
					.salons__info
						.salons__inner
							span.salons__title Cadillac
							.salons__box
								a(href="#")
									span.salons__name Мультимоторс
									p Минский р-н, Д. Боровая, 7
									p +375 17 268-58-68, +375 29 607-11-77
									p 
										span www.cadillac.by
						.salons__inner
							span.salons__title Chery
							.salons__box
								a(href="#")
									span.salons__name Китайские автомобили
									p Минский р-н, Д. Боровая, 7
									p +375 17 268-58-68, +375 29 607-11-77
									p 
										span www.chery.by
						.salons__inner
							span.salons__title Chevrolet
							.salons__box
								a(href="#")
									span.salons__name Мультимоторс
									p Минский р-н, Д. Боровая, 7
									p +375 17 268-58-68, +375 29 607-11-77
									p 
										span www.cadillac.by
							.salons__box
								a(href="#")
									span.salons__name МИНСК-ЛАДА
									p Минский р-н, Д. Боровая, 7
									p +375 17 268-58-68, +375 29 607-11-77
									p 
										span www.cadillac.by
				.salons__row
					.salons__left V
					.salons__info
						.salons__inner
							span.salons__title volkswagen
							.salons__box
								a(href="#")
									span.salons__name атлант-м уручье
									p Минский р-н, Д. Боровая, 7
									p +375 17 268-58-68, +375 29 607-11-77
									p 
										span www.cadillac.by
							.salons__box
								a(href="#")
									span.salons__name атлант-м сухарево
									p Минский р-н, Д. Боровая, 7
									p +375 17 268-58-68, +375 29 607-11-77
									p 
										span www.cadillac.by
							.salons__box
								a(href="#")
									span.salons__name атлант-м машиностроителей
									p Минский р-н, Д. Боровая, 7
									p +375 17 268-58-68, +375 29 607-11-77
									p 
										span www.cadillac.by
			.push 
		include _footer.jade 
		script(src="js/yandexMapInit.js").
			


