doctype
html
	head
		include _head.jade
		title 9-0contacts
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=abcdefg" type="text/javascript"></script>
		.out
			header.header
				.header__top
					a.header__logo(href="#")
					.header__key
						button.js-toggle-nav(type="button")
							i
				.header__middle
					nav.breadcumbs
						a(href="#") Главная
					h1.page-title Обратная связь
				include _nav.jade
			.l-center
				.feedback.to-center
					.feedback__row
						.address
							h3.address__title Адрес
							p 220030, г. Минск,
							p ул. Энгельса, 20,
							p 2-ой этаж кинотеатра «Пионер»
						.delivery
							h3.delivery__title Рассылка
							a.delivery__link(href="#") Подписаться на редкую,<br> но крайне полезную рассылку
						.phones
							h3.phones__title Телефоны
							p Городской: +375 (17) 210-57-57
							p Факс: +375 (17) 210-57-58
							p Мобильный: +375 (29) 614-12-34
					.feedback__row
						button.btn Напишите нам
			.map(id="map-canvas")
				script(type="text/javascript").
					function initialize() {
					var stylez = [
						{
							featureType: 'all',
							elementType: 'all',
							stylers: [
								{ saturation: -100 }
							]
						}
					];
						var mapOptions = {
							zoom: 16,
							center: new google.maps.LatLng(53.899367, 27.5630000),
							disableDefaultUI: true,
							scrollwheel: true,
							zoomControl: true,
							mapTypeControlOptions: {
								mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'tehgrayz']
							}
						}
						var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
						var mapType = new google.maps.StyledMapType(stylez, { name:"Grayscale" });    
						map.mapTypes.set('tehgrayz', mapType);
						map.setMapTypeId('tehgrayz');
						var image = 'img/marker.png';
						var myLatLng1 = new google.maps.LatLng(53.899367, 27.5630000);
						var marker1 = new google.maps.Marker({
							position: myLatLng1,
							map: map,
							title: 'Uluru (Ayers Rock)', 
							icon: image
					});

					}
					function loadScript() {
						var script = document.createElement('script');
						script.type = 'text/javascript';
						script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
							'callback=initialize';
						document.body.appendChild(script);
					}
					window.onload = loadScript; 
			.push 
		include _footer.jade 


