.footer
	.footer__main
		.footer__nav
			.footer__title.is-active
				a(href="#") Главная
		.footer__nav
			.footer__title
				a(href="#") Каталог новых автомобилей
			ul
				li
					a(href="#") Подобрать по характеристикам
				li
					a(href="#") Найти по названию модели
				li
					a(href="#") Автомобильные салоны
				li
					a(href="#") Акции дилеров
		.footer__nav
			.footer__title
				a(href="#") О проекте
			ul
				li
					a(href="#") Как это работает
				li
					a(href="#") Для дилеров
				li
					a(href="#") Новости проекта
				li
					a(href="#")
				li
					a(href="#")
		.footer__nav
			.footer__title
				a(href="#") Обратная связь
			ul
				li
					a(href="#") Стать партнёром
				li
					a(href="#") Вакансии
				li
					a(href="#")
				li
					a(href="#")
				li
					a(href="#")

	.footer__info
		.footer__btn
			button.btn-simple.btn-simple_round.js-scroll-top(type="button") Наверх
		.footer__copy
			© 2014 Dealerhall.by
		.footer__created
			| Разработка проекта: 
			a(href="#") Flex Media
		.soc
			a.soc__fb(href="#")
			a.soc__vk(href="#")
			a.soc__tw(href="#")
script(src="js/lib/jquery.js")
script(src="js/lib/jquery-ui.min.js")
script(src="js/lib/jquery.multiselect.min.js")
script(src="js/lib/cycle.js")
script(src="js/valera.js")
script(src="js/valik.js")
script(src="js/common.js")

script(src="js/lib/head.js")