header.header.header_absolute
	.header__top
		a.header__logo(href="#")
		.header__key
			button.js-toggle-nav(type="button")
				i
	include _nav.jade
	nav.breadcumbs
		a(href="#") Главная
		a(href="#") Фильтр
	h1.page-title Ищем BMW 3 series
	.page-info от $ 20 000 до $ 100 000, дизель / бензин, полный / задний привод, 5 / 6 МКП



