header.header
	.header__wrap
		.header__top
			a.header__logo(href="#")
			.header__key
				button.js-toggle-nav(type="button")
					i
		.header__middle
			nav.breadcumbs
				a(href="#") Главная
				a(href="#") Каталог новых автомобилей
			.page-title BMW 
		.header__bottom
			.header__nav
				.header__nav-list
					a(href="#series1").header__nav-link 1 series
					a(href="#series2").header__nav-link 3 series
					a(href="#series3").header__nav-link 5 series
					a(href="#series4").header__nav-link 6 series
					a(href="#series5").header__nav-link 7 series
					a(href="#series6").header__nav-link X series
					a(href="#series7").header__nav-link Z4 series
					a(href="#series8").header__nav-link M series 
				.tabs-icon
					.tabs-icon__item.js-open-list 1 series
					ul.tabs-icon__list
						li 
							a(href="#series1") 
								span 1 series
						li 
							a(href="#series2") 
								span 3 series
						li 
							a(href="#series3") 
								span 5 series
						li
							a(href="#series4") 
								span 6 series
						li 
							a(href="#series5") 
								span 7 series
						li 
							a(href="#series6") 
								span X series
						li 
							a(href="#series7") 
								span Z4 series
						li 
							a(href="#series8") 
								span M series 
		.header__img(style="background-image: url(img/bmw-bg.jpg)")
	include _nav.jade
	
		
		

