header.header.header_absolute
	.header__top
		a.header__logo(href="#")
		.header__key
			button.js-toggle-nav(type="button")
				i
	.header__middle
		nav.breadcumbs
			a(href="#") Главная
			a(href="#") Каталог новых автомобилей
		.page-title BMW
	include _nav.jade

