header.header
	.header__top
		a.header__logo(href="#")
		button.header__key.js-toggle-nav(type="button")
			i
		nav.header__nav
			a(href="#") Главная
			a(href="#") Каталог новых автомобилей
	h1.header__title Каталог новых автомобилей



