header.header
	.header__top
		a.header__logo(href="#")
		.header__key
			button.js-toggle-nav(type="button")
				i
	include _nav.jade
	nav.breadcumbs
		a(href="#") Главная
		a(href="#") Каталог новых автомобилей
	h1.page-title Каталог новых автомобилей



