.promo.promo_index
	header.header
		.header__top
			button.header__key.js-toggle-nav.is-active(type="button")
				i
	.promo__img
			img(src="img/index-bg.jpg", alt="img")
	.promo__in
		img(src="img/logo-big.png", alt="img")
		.page-title Ваш виртуальный автосалон 
		p Дилер Холл — это наглядный, лёгкий и понятный поиск нового автомобиля среди официальных дилеров. Больше не нужно тратить время, силы и нервы, чтобы разобраться в огромном количестве предложений на рынке
	.promo__box
		.l-center.l-center_width
			.l-cols
				.l-col2
					.promo__item
						a(href="#")
							img(src="img/promo1.png", alt="img")
							span Подобрать 
								br 
								| по характеристикам
				.l-col2
					.promo__item
						a(href="#")
							img(src="img/promo2.png", alt="img")
							span Изучить 
								br 
								| модельный ряд
	
	.menu

