header.header.header_absolute
	.header__top
		a.header__logo(href="#")
		.header__key
			button.js-toggle-nav(type="button")
				i
	include _nav.jade
	nav.breadcumbs
		a(href="#") Главная
		a(href="#") Каталог новых автомобилей
	.page-title BMW 
.promo.promo_catalog
	.promo__img(style="background-image: url(img/bmw-bg.jpg)")
	.promo__bottom
		.promo__nav
			a(href="#") 1 series
			a(href="#") 3 series
			a(href="#") 5 series
			a(href="#") 6 series
			a(href="#") 7 series
			a(href="#") X series
			a(href="#") Z4 series
			a(href="#") M series
		

