header.header.header_absolute
	.header__top
		.header__key
			button.js-toggle-nav(type="button")
				i
	include _nav.jade
.promo.promo_index
	.promo__img(style="background-image: url(img/index-bg.jpg)")
	.promo__in
		img(src="img/logo-big.png", alt="img")
		.page-title Ваш виртуальный автосалон 
		.page-descr Дилер Холл — это наглядный, лёгкий и понятный поиск нового автомобиля среди официальных дилеров. Больше не нужно тратить время, силы и нервы, чтобы разобраться в огромном количестве предложений на рынке
	.promo__box
		.l-center.l-center_width
			.l-cols
				.l-col2
					.promo__item
						a(href="#")
							img(src="img/promo1.png", alt="img")
							span Подобрать 
								br 
								| по характеристикам
				.l-col2
					.promo__item
						a(href="#")
							img(src="img/promo2.png", alt="img")
							span Изучить 
								br 
								| модельный ряд

