header.header
	.header__top
		a.header__logo(href="#")
		button.header__key.js-toggle-nav(type="button")
			i
		nav.breadcumbs
			a(href="#") Главная
			a(href="#") Каталог новых автомобилей
	h1.page-title Каталог новых автомобилей



