header.header
	.header__top
		a.header__logo(href="#")
		.menu.js-menu
			.menu__item 
				i.icon-user
				| Личный кабинет
			ul.menu__list
				li
					a(href="#") Запросы
				li
					a(href="#") Избранные авто
				li
					a(href="#") История просмотров
				li
					a(href="#") История сравнений
				li
					a(href="#") Личные данные
				li
					a(href="#") Рассылка

		.header__key
			button.js-toggle-nav(type="button")
				i
	.header__middle
		nav.breadcumbs
			a(href="#") Главная
			a(href="#") Фильтр
		h1.page-title Сравнение автомобилей
	.header__bottom
		.header__center
			ul.tab-pills
				li.is-active
					a(href="#") Диаграмма
				li
					a(href="#") Таблица
	include _nav.jade


