.nav.js-nav
	.nav__in
		.search-box
			input.search-box__input(type="text",placeholder="Поиск")
			button.search-box__btn(type="sumbit")
			button.search-box__clear.js-clear-input(type="reset")
			.search-popup
				.search-popup__section
					.search-popup__title Поиск по автомобилям
					.request.request_search
						.l-center
							.request__left
								a(href="#")
									img(src="img/item/bmw-5series-hatchback2.png", alt="")
							.request__center
								p.request__text 
									a(href="#")
										strong BMW 
										| 328i xDrive Modern Line 
										span 2.0 AT (220л.с.) дизель, полный привод, 6 МКП, серый металлик, 
					.request.request_search
						.l-center
							.request__left
								a(href="#")
									img(src="img/item/bmw-5series-hatchback2.png", alt="")
							.request__center
								p.request__text 
									a(href="#")
										strong BMW 
										| 328i xDrive Modern Line 
										span 2.0 AT (220л.с.) дизель, полный привод, 6 МКП, серый металлик, 
					.request.request_search
						.l-center
							.request__left
								a(href="#")
									img(src="img/item/bmw-5series-hatchback2.png", alt="")
							.request__center
								p.request__text 
									a(href="#")
										strong BMW 
										| 328i xDrive Modern Line 
										span 2.0 AT (220л.с.) дизель, полный привод, 6 МКП, серый металлик, 
					.to-center
						a.search-popup__more(href="#") Показать еще авто
				.search-popup__section
					.search-popup__title Поиск по сайту
					ul.post-wrap.post-wrap_small
						li.post
							a(href="#").post__title 
								span BMW 
								| 3 series
							p Седан среднего класса 
								span BMW 
								| 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
								span BMW 
								| E90). Колесная база увеличилась на 50 мм,а объем... 
							span.post__small BMW 3 series /
						li.post
							a(href="#").post__title 
								span BMW 
								| 3 series
							p Седан среднего класса 
								span BMW 
								| 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
								span BMW 
								| E90). Колесная база увеличилась на 50 мм,а объем... 
							span.post__small BMW 3 series /
						li.post
							a(href="#").post__title 
								span BMW 
								| 3 series
							p Седан среднего класса 
								span BMW 
								| 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
								span BMW 
								| E90). Колесная база увеличилась на 50 мм,а объем... 
							span.post__small BMW 3 series /
					.to-center
						a.search-popup__more(href="#") Показать еще
		.nav__list
			.nav__col
				.nav__title
					a(href="#") Главная
			.nav__col
				.nav__title
					a(href="#") Новости индустрии
				ul
					li
						a(href="#") Новости и акции дилеров
			.nav__col
				.nav__title.is-active
					a(href="#") Каталог новых автомобилей
				ul
					li
						a(href="#") Подобрать по характеристикам
					li
						a(href="#") Найти по названию модели
					li
						a(href="#") Автомобильные салоны
			.nav__col
				.nav__title
					a(href="#") О проекте
				ul
					li
						a(href="#") Как это работает
					li
						a(href="#") Для дилеров
					li
						a(href="#") Новости проекта
					li
						a(href="#")
					li
						a(href="#")
			.nav__col
				.nav__title
					a(href="#") Обратная связь
				ul
					li
						a(href="#") Стать партнёром
					li
						a(href="#") Вакансии
					li
						a(href="#")
					li
						a(href="#")
					li
						a(href="#")
			.nav__col
				a.nav__user(href="#")
					i.icon-lock 
					|Личный кабинет 