doctype3
html
	head
		include _head.jade
		title index
	body
		.out
			header.header.header_absolute.header_index
				.header__top
					a.header__logo(href="#")
					.header__key
						button.js-toggle-nav(type="button")
							i
				.nav.js-nav
					.nav__in
						.search-box
							input.search-box__input(type="text",placeholder="Поиск")
							button.search-box__btn(type="sumbit")
							button.search-box__clear.js-clear-input(type="reset")
							.search-popup(style="display:block")
								.search-popup__section
									.search-popup__title Поиск по автомобилям
									.request.request_search
										.l-center
											.request__left
												a(href="#")
													img(src="img/item/bmw-5series-hatchback2.png", alt="")
											.request__center
												p.request__text 
													a(href="#")
														strong BMW 
														| 328i xDrive Modern Line 
														span 2.0 AT (220л.с.) дизель, полный привод, 6 МКП, серый металлик, 
									.request.request_search
										.l-center
											.request__left
												a(href="#")
													img(src="img/item/bmw-5series-hatchback2.png", alt="")
											.request__center
												p.request__text 
													a(href="#")
														strong BMW 
														| 328i xDrive Modern Line 
														span 2.0 AT (220л.с.) дизель, полный привод, 6 МКП, серый металлик, 
									.request.request_search
										.l-center
											.request__left
												a(href="#")
													img(src="img/item/bmw-5series-hatchback2.png", alt="")
											.request__center
												p.request__text 
													a(href="#")
														strong BMW 
														| 328i xDrive Modern Line 
														span 2.0 AT (220л.с.) дизель, полный привод, 6 МКП, серый металлик, 
									.to-center
										a.search-popup__more(href="#") Показать еще авто
								.search-popup__section
									.search-popup__title Поиск по сайту
									ul.post-wrap.post-wrap_small
										li.post
											a(href="#").post__title 
												span BMW 
												| 3 series
											p Седан среднего класса 
												span BMW 
												| 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
												span BMW 
												| E90). Колесная база увеличилась на 50 мм,а объем... 
											span.post__small BMW 3 series /
										li.post
											a(href="#").post__title 
												span BMW 
												| 3 series
											p Седан среднего класса 
												span BMW 
												| 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
												span BMW 
												| E90). Колесная база увеличилась на 50 мм,а объем... 
											span.post__small BMW 3 series /
										li.post
											a(href="#").post__title 
												span BMW 
												| 3 series
											p Седан среднего класса 
												span BMW 
												| 3-Series (F30) дебютировал в 2011 году, но продажи стартовали годом позже. По габаритным размерам «тройка» стала на 93 мм длиннее, на 6 мм шире и на 8 мм выше своего предшественника (
												span BMW 
												| E90). Колесная база увеличилась на 50 мм,а объем... 
											span.post__small BMW 3 series /
									.to-center
										a.search-popup__more(href="#") Показать еще
						.nav__list
							.nav__col
								.nav__title
									a(href="#") Главная
							.nav__col
								.nav__title
									a(href="#") Новости индустрии
								ul
									li
										a(href="#") Новости и акции дилеров
							.nav__col
								.nav__title.is-active
									a(href="#") Каталог новых автомобилей
								ul
									li
										a(href="#") Подобрать по характеристикам
									li
										a(href="#") Найти по названию модели
									li
										a(href="#") Автомобильные салоны
							.nav__col
								.nav__title
									a(href="#") О проекте
								ul
									li
										a(href="#") Как это работает
									li
										a(href="#") Для дилеров
									li
										a(href="#") Новости проекта
									li
										a(href="#")
									li
										a(href="#")
							.nav__col
								.nav__title
									a(href="#") Обратная связь
								ul
									li
										a(href="#") Стать партнёром
									li
										a(href="#") Вакансии
									li
										a(href="#")
									li
										a(href="#")
									li
										a(href="#")
							.nav__col
								a.nav__user(href="#")
									i.icon-lock 
									|Личный кабинет 
			.promo.promo_index
				.promo__img(style="background-image: url(img/index-bg.jpg)")
				.promo__in
					img(src="img/logo-big.png", alt="img")
					.page-title Ваш виртуальный автосалон 
					.page-descr Дилер Холл — это наглядный, лёгкий и понятный поиск нового автомобиля среди официальных дилеров. Больше не нужно тратить время, силы и нервы, чтобы разобраться в огромном количестве предложений на рынке
				.promo__box
					.l-center.l-center_width 
						.l-cols
							.l-col2
								a(href="#").promo__item
									img(src="img/promo1.png", alt="img")
									span Подобрать 
										br 
										| по характеристикам
							.l-col2
								a(href="#").promo__item
									img(src="img/promo2.png", alt="img")
									span Изучить 
										br 
										| модельный ряд
			a.banner.is-blue-dark(href="#")
				img(src="img/link-img1.jpg", alt="img") 
				.banner__wrap
					.banner__in
						.banner__link Автомобильные салоны в Беларуси
							i.arr-next-white
			.l-center.l-center_width
				.l-cols.l-cols_news
					.l-col2
						a.link-section(href="#") Новости индустрии
						.news-item-wrap
							a.news-item(href="#")
								.meta 15 сентября, 2014 / События
								.link-title Мы запустили новый проект! Смотрите какой клевый!
							a.news-item(href="#")
								.meta 15 сентября, 2014 / События
								.link-title Мы запустили новый проект! Смотрите какой клевый!
						a.link-all(href="#") Читать все новости
					.l-col2
						a.link-section(href="#") Новости индустрии
						.news-item-wrap
							a.news-item(href="#")
								.meta 15 сентября, 2014 / События
								.link-title Не управлять, а править. Новый BMW X5
							a.news-item(href="#")
								.meta 15 сентября, 2014 / События
								.link-title Концепт BMW M 4 Купе: подлинный BMW M
						a.link-all(href="#") Читать все новости
			.push 
		include _footer.jade 


