doctype
html
	head
		include _head.jade
		title title
	body
		.overlay.js-overlay(style="display:block")
		.popup-wrap.js-popup(data-popup="js-popup-el", style="display:block")
			span.popup-filter__close.js-popup-close
			.popup
				form.filter-wrap
					span.popup__title Изменить фильтр
					.filter
						span.filter__title Уже определились с маркой автомобиля?
						.filter__row
							a(href="#").filter__close
							.select
								select.js-select-single
									option(value="") Нет статуса
									option(value="") Есть статус
									option(value="") Нет статуса
									option(value="") Ой все!
					.filter.filter__amountt.js-ui-slider
						span.filter__title Цена в 
							span долларах
							| :
						.filter__box
							input.input.js-ui-slider-from
							span -
							input.input.js-ui-slider-to
						.filter__row
							a(href="#").filter__close.js-reset-range
							.filter__range
								.range.js-ui-slider-main(data-min="0", data-max="100000", data-step="500")
					.filter
						span.filter__title Тип кузова
						label.checkbox
							input(type="checkbox", name="check", value=" ")
							span.checkbox__title Седан
						label.checkbox
							input(type="checkbox", name="check", value=" ")
							span.checkbox__title Внедорожник
						label.checkbox
							input(type="checkbox", name="check", value=" ")
							span.checkbox__title Хэтчбэк
						label.checkbox
							input(type="checkbox", name="check", value=" ")
							span.checkbox__title Купе
						label.checkbox
							input(type="checkbox", name="check", value=" ")
							span.checkbox__title Универсал
						label.checkbox
							input(type="checkbox", name="check", value=" ")
							span.checkbox__title Кабриолет
						label.checkbox
							input(type="checkbox", name="check", value=" ")
							span.checkbox__title Минивен
						label.checkbox
							input(type="checkbox", name="check", value=" ")
							span.checkbox__title Кроссовер
					.filter
						span.filter__title Коробка передач
						.filter__btns
							button.btn-simple Автоматическая
							button.btn-simple Механическая
					.filter
						span.filter__title Привод
						.filter__btns
							button.btn-simple Передний
							button.btn-simple Задний
							button.btn-simple Полный
					.filter_more
						span Больше параметров
					a(href="#").btn.btn_fluid Показать!
					.filter_save
						a(href="#").btn-simple Сохранить параметры фильтра
		include _footer.jade 


