doctype
html
	head
		include _head.jade
		title title
	body
		.overlay.js-overlay(style="display:block")
		.popup-wrap.js-popup(data-popup="js-popup-el", style="display:block")
			.popup-form.popup-form_min
				span.popup-form__close.js-popup-close
				form.js-validate
					span.popup-form__title Откликнуться на вакансию
					.popup-form__box
						h3 Все данные будут использоваться только для обработки Вашего запроса и не будут переданы третьим лицам.
					.popup-form__field
						input(type="text", name="firstname", placeholder="Имя", required).input
					.popup-form__field
						input(type="text", name="lastname", placeholder="Фамилия", required).input
					.popup-form__field
						input(type="tel", name="tel", placeholder="Телефон", required).input
					.popup-form__file-name 
						a(href="#") Резюме.doc
					.popup-form__btns
						label.popup-form__file
							input(type="file")
							span Прикрепить резюме
					button.btn(type="sumbit") Откликнуться
		include _footer.jade 


