doctype
html
	head
		include _head.jade
		title title
	body
		.out
			include _header.jade
			.l-center
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fugiat, impedit at corporis provident consectetur dolores sequi aliquam nam cupiditate labore, ab eius mollitia, veritatis perspiciatis, quidem vitae officiis exercitationem.
			.push 
		include _footer.jade 


