doctype
html
	head
		include _head.jade
		title 10-0 dealer account
	body
		.out
			include _header.jade
			a.box.is-red(href="#")
				.box__item.box__number 
					| 0000132
				.box__item.box__client
					.user
						.user__meta
							.user__name Кузнецов Андрей
							.user__info 01.05.14, 15:41
						.user__main
							|5 запросов, последний: Mercedes-Benz CLS 63 AMG 4MATIC 5.5 AMT (557 л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 124 090
			a.box.is-orange(href="#")
				.box__item.box__number 
					| 0000132
				.box__item.box__client
					.user
						.user__meta
							.user__name Кузнецов Андрей
							.user__info 01.05.14, 15:41
						.user__main
							strong 5 запросов, 
							| последний: Mercedes-Benz CLS 63 AMG 4MATIC 5.5 AMT (557 л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 124 090
			a.box.is-green(href="#")
				.box__item.box__number 
					| 0000132
				.box__item.box__client
					.user
						.user__meta
							.user__name Кузнецов Андрей
							.user__info 01.05.14, 15:41
						.user__main
							strong 5 запросов, 
							| последний: Mercedes-Benz CLS 63 AMG 4MATIC 5.5 AMT (557 л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 124 090
			a.box.is-yellow(href="#")
				.box__item.box__number 
					| 0000132
				.box__item.box__client
					.user
						.user__meta
							.user__name Кузнецов Андрей
							.user__info 01.05.14, 15:41
						.user__main
							p 5 запросов, последний: Mercedes-Benz CLS 63 AMG 4MATIC 5.5 AMT (557 л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 124 090
			a.box.is-gray(href="#")
				.box__item.box__number 
					| 0000132
				.box__item.box__client
					.user
						.user__meta
							.user__name Кузнецов Андрей
							.user__info 01.05.14, 15:41
						.user__main
							strong 5 запросов, 
							| последний: Mercedes-Benz CLS 63 AMG 4MATIC 5.5 AMT (557 л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 124 090
			a.box(href="#")
				.box__item.box__number 
					| 0000132
				.box__item.box__client
					.user
						.user__meta
							.user__name Кузнецов Андрей
							.user__info 01.05.14, 15:41
						.user__main
							strong 5 запросов, 
							p последний: Mercedes-Benz CLS 63 AMG 4MATIC 5.5 AMT (557 л.с.) дизель, полный привод, 6 МКП, красный металлик, $ 124 090 
							p.is-yellow Заметка: несовсем адекватный человек, ежедневно добавляет по 15 машин.
							p.is-gray Отменён: 01.05.14
			.push 
		include _footer.jade  