.footer
  .footer__btn
    button.btn-simple.btn-simple_round.js-scroll-top(type="button") Наверх
  .footer__copy
    © 2014 Dealerhall.by
  .footer__created
    | Разработка проекта:
    a(href="#") Flex Media
  .soc
    a.soc__fb(href="#")
    a.soc__vk(href="#")
    a.soc__tw(href="#")


script(src="js/lib/jquery.js")
script(src="js/lib/jquery-ui.min.js")
script(src="js/lib/jquery.multiselect.min.js")
script(src="js/common.js")
script(src="js/lib/head.js")